<!-- /templates/404.liquid -->
<div class="failse_template">
    <div class="grid">
        <div class="content">
            <img src="{{ '404 image.png' | asset_url }}">
            <h3 class="brand text-center">{{ 'general.404.title' | t }}</h3>
            <h3 class="text-center">{{ 'general.404.sub_title' | t }}</h3>
            <h3 class="text-center" style="margin-top: 40px;">{{ 'general.404.subtext_html' | t }}</h3>
            <a href="/collections/holiday-deals" class="button small">{{ 'general.404.atc_button' | t }}</a>
        </div>
    </div>
</div>
{% section 'instagram' %}

<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->
