<div class="collection-image-text fluid-display">
    <div class="background"></div>
    <div class="image-with-text__image grid__item one-third medium-down--one-whole">
        {% if section.settings.image_banner != blank %}
          <img src="{{section.settings.image_banner | img_url: '374x'}}" alt="date-from">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %} 
    </div>
    <div class="image-with-text_title grid__item two-thirds medium-down--one-whole">
        {% if section.settings.show_moon_phase_control %}
            <div class="find_moon_pannel">
                <div class="grid__item moon-phase">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                        <title>3D</title>
                        <desc>Created with sketchtool.</desc>
                        <defs></defs>
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-508.000000, -370.000000)" fill="#2E4676" fill-rule="nonzero">
                                <path d="M519.570535,393.120084 C516.49382,393.165935 513.535196,391.937007 511.396417,389.72479 C509.186381,387.590358 507.957497,384.636948 508.001123,381.56479 C507.958075,378.490678 509.186713,375.535305 511.396417,373.397731 C513.556397,371.222999 516.494826,370 519.559947,370 C522.625068,370 525.563497,371.222999 527.723476,373.397731 C529.93318,375.535305 531.161819,378.490678 531.11877,381.56479 C531.162397,384.636948 529.933513,387.590358 527.723476,389.72479 C525.590732,391.933025 522.640252,393.161753 519.570535,393.120084 Z M519.570535,370.835378 C516.723864,370.795537 513.987521,371.935041 512.010535,373.983613 C509.959404,375.967605 508.819969,378.711447 508.8623,381.56479 C508.819969,384.418133 509.959404,387.161975 512.010535,389.145966 C513.987521,391.194539 516.723864,392.334043 519.570535,392.294202 C518.935241,392.294202 518.391711,391.24479 517.939947,389.145966 C517.442484,386.65021 517.205917,384.109486 517.234064,381.56479 C517.205917,379.020094 517.442484,376.47937 517.939947,373.983613 C518.372888,371.88479 518.907006,370.835378 519.5423,370.835378 L519.570535,370.835378 Z" id="3D"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="grid__item date_picker">
                    <p class="date_title brand">selected date</p>
                    <h5>{{ "collections.general.date_pannel_date" }}</h5>
                </div>
            </div>
        {% endif %}
        {% if section.title != 'blank' %}
            <h3>{{ section.settings.title}}</h3>
        {% endif %}
        {{ section.settings.desc }}
    </div>
</div>


<script>
    var indecator = "{{ collection.handle | replace: '-', ' ' }}";
</script>