{% style %}
    .icon-bar{
        background: {{section.settings.bg_color}};
    }
    .icon-bar .gird__item a{
        float: none;
    }
    .icon-bar .grid__item a div.desc p{
        margin-top : 4px;
        color: {{section.settings.title_color}};
    }
    .icon-bar .gird__item a img{
        max-width  : 30px;
        max-height : 33px;
    }
    .bar-large .gird__item{
        margin: 50px 0px;
    }
    .bar-small .gird__item{
        margin: 15px 0px;
    }
{% endstyle %}
{% assign size_val = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'collection'%}
  {% assign size_val =  size_val | plus: 1 %}
  {% endif %}
{% endfor %}
{%if size_val == 2 %}
    {% assign class_name = 'one-half' %}
{% elsif size_val == 3 %}
  {% assign class_name = 'one-third' %}
{% else %}
  {% assign class_name = 'two-eighths' %}
{% endif %}
<div class="icons icon-bar bar-{{section.settings.bar_size}}">
  {% if size_val > 0 %}
    <div class="sixteen">
      <div class="section list-collection-wrapper">
        <div class="list-collections clearfix equal-columns--outside-trim equal-columns--clear grid">
          {% if section.blocks[0].type == 'collection'%}
              {% if section.blocks[0].title == blank %}
                <div class="{{ class_name }} grid__item medium-down--one-whole">
                    <div class="image_element_wrapper">
                      <svg width="19px" height="24px" viewBox="0 0 19 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-201.000000, -29.000000)" fill="#2E4676">
                                <g id="ico_returns" transform="translate(202.000000, 29.000000)">
                                    <polygon id="Line-4" fill-rule="nonzero" points="6.5 11.2368421 8.5 11.2368421 8.5 21.7631579 6.5 21.7631579"></polygon>
                                    <path d="M7,7.96456548 L7,5.96456548 L10.7166276,5.96456548 C11.6640086,5.96456548 12,5.59468521 12.0015479,4.39526797 C12.0577214,3.38685808 11.7539423,3.06942485 10.7166276,3.06488176 L7,3.06488176 L7,1.06488176 L10.720998,1.06489131 C12.9002417,1.0744156 14.1187109,2.34765233 14,4.45088671 C14,6.65865991 12.8137431,7.96456548 10.7166276,7.96456548 L7,7.96456548 Z" id="Path-7" fill-rule="nonzero"></path>
                                    <polygon id="Triangle" points="5 2 9 0 9 4"></polygon>
                                    <path d="M7.7472752,11.2769982 L17.4355469,6.45999009 L17.4355469,19.3413791 L7.39260477,23.7333617 L-1,19.2892777 L-1,8.13212557 L5.04940604,5.10567611 L5.94424631,6.89432389 L2.29463424,8.72018355 L7.7472752,11.2769982 Z M1,10.3220757 L1,18.0852341 L7.47555929,21.5141969 L15.4355469,18.0331326 L15.4355469,9.68795913 L7.77274433,13.4979041 L1,10.3220757 Z" id="Path-2" fill-rule="nonzero"></path>
                                </g>
                            </g>
                        </g>
                     </svg>
                    </div>
                    <div class="desc">{{ section.blocks[0].settings.title }}</div>
                </div>
            {% endif %}
            {% if section.blocks[1].title == blank %}
                <div class="{{ class_name }} grid__item medium-down--one-whole">
                    <div class="image_element_wrapper">
                      <svg width="24px" height="26px" viewBox="0 0 24 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-279.000000, -28.000000)" fill="#2E4676" fill-rule="nonzero">
                                <g id="ico_glob_2" transform="translate(280.000000, 30.000000)">
                                    <path d="M11,23 C4.372583,23 -1,17.627417 -1,11 C-1,4.372583 4.372583,-1 11,-1 C17.627417,-1 23,4.372583 23,11 C23,17.627417 17.627417,23 11,23 Z M11,21 C16.5228475,21 21,16.5228475 21,11 C21,5.4771525 16.5228475,1 11,1 C5.4771525,1 1,5.4771525 1,11 C1,16.5228475 5.4771525,21 11,21 Z" id="Oval"></path>
                                    <path d="M11.6544624,22.7560945 L11,23.322586 L10.3455376,22.7560945 C6.34481753,19.29314 4.31034483,15.3598261 4.31034483,11 C4.31034483,6.64017389 6.34481753,2.70686 10.3455376,-0.756094524 L11,-1.32258596 L11.6544624,-0.756094524 C15.6551825,2.70686 17.6896552,6.64017389 17.6896552,11 C17.6896552,15.3598261 15.6551825,19.29314 11.6544624,22.7560945 Z M15.6896552,11 C15.6896552,7.49474969 14.1451542,4.28839169 11,1.34483813 C7.85484585,4.28839169 6.31034483,7.49474969 6.31034483,11 C6.31034483,14.5052503 7.85484585,17.7116083 11,20.6551619 C14.1451542,17.7116083 15.6896552,14.5052503 15.6896552,11 Z" id="Oval"></path>
                                    <polygon id="Line" points="12 22.6206897 10 22.6206897 10 -0.620689655 12 -0.620689655"></polygon>
                                    <polygon id="Line" points="-0.620689655 12 -0.620689655 10 22.6206897 10 22.6206897 12"></polygon>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                    <div class="desc">{{ section.blocks[1].settings.title }}</div>
                </div>
            {% endif %}
            {% if section.blocks[2].title == blank %}
                <div class="{{ class_name }} grid__item medium-down--one-whole">
                    <div class="image_element_wrapper">
                      <svg width="23px" height="17px" viewBox="0 0 23 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-323.000000, -33.000000)" fill="#2E4676" fill-rule="nonzero">
                                <g id="ico_shipping" transform="translate(323.000000, 33.000000)">
                                    <polygon id="Path-8" points="19.000738 4.77062999 13.9337133 4.77062999 13.9337133 2.77062999 20.0867938 2.77062999 22.9048549 7.11112311 22.9048549 14.1983141 13.9337133 14.1983141 13.9337133 12.1983141 20.9048549 12.1983141 20.9048549 7.7034288"></polygon>
                                    <path d="M2,2 L2,11.6291038 L12.3673469,11.6291038 L12.3673469,2 L2,2 Z M2,0 L12.3673469,0 C13.4719164,7.78148667e-16 14.3673469,0.8954305 14.3673469,2 L14.3673469,11.6291038 C14.3673469,12.7336733 13.4719164,13.6291038 12.3673469,13.6291038 L2,13.6291038 C0.8954305,13.6291038 -9.74952274e-16,12.7336733 -1.11022302e-15,11.6291038 L-2.22044605e-16,2 C-3.57315355e-16,0.8954305 0.8954305,2.02906125e-16 2,0 Z" id="Rectangle-5"></path>
                                    <path d="M4.26530612,16.4463177 C2.59452486,16.4463177 1.24489796,15.0806873 1.24489796,13.4019521 C1.24489796,11.7232169 2.59452486,10.3575865 4.26530612,10.3575865 C5.93608738,10.3575865 7.28571429,11.7232169 7.28571429,13.4019521 C7.28571429,15.0806873 5.93608738,16.4463177 4.26530612,16.4463177 Z M4.26530612,14.4463177 C4.8262061,14.4463177 5.28571429,13.9813608 5.28571429,13.4019521 C5.28571429,12.8225434 4.8262061,12.3575865 4.26530612,12.3575865 C3.70440615,12.3575865 3.24489796,12.8225434 3.24489796,13.4019521 C3.24489796,13.9813608 3.70440615,14.4463177 4.26530612,14.4463177 Z" id="Oval-2"></path>
                                    <path d="M18.1836735,16.4463177 C16.5128922,16.4463177 15.1632653,15.0806873 15.1632653,13.4019521 C15.1632653,11.7232169 16.5128922,10.3575865 18.1836735,10.3575865 C19.8544547,10.3575865 21.2040816,11.7232169 21.2040816,13.4019521 C21.2040816,15.0806873 19.8544547,16.4463177 18.1836735,16.4463177 Z M18.1836735,14.4463177 C18.7445734,14.4463177 19.2040816,13.9813608 19.2040816,13.4019521 C19.2040816,12.8225434 18.7445734,12.3575865 18.1836735,12.3575865 C17.6227735,12.3575865 17.1632653,12.8225434 17.1632653,13.4019521 C17.1632653,13.9813608 17.6227735,14.4463177 18.1836735,14.4463177 Z" id="Oval-2"></path>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                    <div class="desc">{{ section.blocks[2].settings.title }}</div>
                </div>
            {% endif %}
            {% if section.blocks[3].title == blank %}
                <div class="{{ class_name }} grid__item medium-down--one-whole">
                    <div class="image_element_wrapper">
                      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-798.000000, -29.000000)" fill="#2E4676">
                                <g id="question_ico" transform="translate(799.000000, 30.000000)">
                                    <path d="M11,23 C4.372583,23 -1,17.627417 -1,11 C-1,4.372583 4.372583,-1 11,-1 C17.627417,-1 23,4.372583 23,11 C23,17.627417 17.627417,23 11,23 Z M11,21 C16.5228475,21 21,16.5228475 21,11 C21,5.4771525 16.5228475,1 11,1 C5.4771525,1 1,5.4771525 1,11 C1,16.5228475 5.4771525,21 11,21 Z" id="Oval-3" fill-rule="nonzero"></path>
                                    <path d="M9.64293855,12.9288827 C9.64293855,12.3467122 9.77448472,11.8653092 10.037581,11.4846592 C10.3006773,11.1040093 10.6841204,10.6841811 11.1879218,10.225162 C11.5573761,9.88929441 11.8288651,9.60661009 12.0023966,9.37710056 C12.1759282,9.14759103 12.2626927,8.88729754 12.2626927,8.59621229 C12.2626927,8.18197558 12.0975603,7.85450958 11.7672905,7.61380447 C11.4370207,7.37309936 10.9976005,7.2527486 10.4490168,7.2527486 C9.92282418,7.2527486 9.45541545,7.36190394 9.04677654,7.58021788 C8.63813762,7.79853182 8.29387849,8.10360698 8.01398883,8.49545251 L5.982,7.30312849 C6.45221464,6.58661094 7.08755466,6.03243771 7.88803911,5.64059218 C8.68852356,5.24874664 9.6373353,5.05282682 10.7345028,5.05282682 C12.0219953,5.05282682 13.0547726,5.32711458 13.8328659,5.87569832 C14.6109592,6.42428207 15,7.18557055 15,8.15958659 C15,8.61860565 14.9244309,9.02164072 14.7732905,9.36870391 C14.6221501,9.7157671 14.4374257,10.0096468 14.2191117,10.250352 C14.0007978,10.4910571 13.7181135,10.7681437 13.3710503,11.0816201 C12.9568136,11.4510745 12.6545373,11.7617473 12.4642123,12.013648 C12.2738873,12.2655487 12.1787263,12.5706239 12.1787263,12.9288827 L9.64293855,12.9288827 Z M10.9192291,17.144 C10.46021,17.144 10.0767669,16.9956607 9.76888827,16.6989777 C9.46100963,16.4022946 9.30707263,16.0412424 9.30707263,15.6158101 C9.30707263,15.1903778 9.45821078,14.8349232 9.76049162,14.5494358 C10.0627725,14.2639483 10.4490144,14.1212067 10.9192291,14.1212067 C11.3894437,14.1212067 11.7756856,14.2639483 12.0779665,14.5494358 C12.3802473,14.8349232 12.5313855,15.1903778 12.5313855,15.6158101 C12.5313855,16.0412424 12.3774485,16.4022946 12.0695698,16.6989777 C11.7616912,16.9956607 11.3782481,17.144 10.9192291,17.144 Z" id="?"></path>
                                </g>
                            </g>
                        </g>
                      </svg>
                    </div>
                    <div class="desc">{{ section.blocks[3].settings.title }}</div>
                </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
