
      <div class="image-with-text__image grid__item nine-twelfths medium-down--one-whole right">
        {% if block.settings.image_1 != blank %}
          <img src="{{ block.settings.image_1 | img_url: '2048x' }}" alt="{{ block.settings.title | escape }}">
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>

      <div class="image-with-text__text grid__item three-twelfths medium-down--one-whole left">
        <div class="caption_content">
          <div class="info">
            {% if block.settings.title != blank %}
              <h3>{{ block.settings.title }}</h3>
              {% if block.settings.divider_status %}
                <div class="devider"></div>
              {% endif %}
            {% endif %}

            {% if block.settings.desc != blank %}
              {{ block.settings.desc }}
            {% endif %}
          </div>
          
        </div>
      </div>

