{% assign birthstone_product = all_products[settings.birthstone_product] %}
{% assign free_gift_type = settings.free_gift_type %}
{% assign free_birthdtone_exist = false %}
{% assign min_birthstone_price = settings.min_price_birthstone %}
{% assign min_birthstone_count = 0 %}
{% assign freecount = 0 %}
{% assign rage = 0 %}
{% if free_gift_type == 'moon_stud' %}
  {% assign range = settings.min_item_moon_stud %}
{% elsif free_gift_type != 'birthstone' %}
  {% assign range = settings.min_price_birthstone %}
{% elsif section.settings.shipping_rage != blank %}
    {% assign range = section.settings.shipping_rage %}
{% endif %}
{% if settings.product_freeproduct %}
  {% if free_gift_type == 'moon_stud'%}
    {% assign free_gift_variant_id = settings.freegift_vid %}
  {% elsif settings.free_gift_type == 'birthstone' and  settings.birthstone_product != blank and settings.birthstone_add_auto %}
    {% assign free_gift_variant_id = all_products[settings.birthstone_product].variants[0].id %}
  {% endif %}

  <script defer="defer">
    free_gift_variant_id = {{free_gift_variant_id}}
    free_gift_type = '{{ free_gift_type }}';
    range = {{ range }};
  </script>
{% endif %}




<div id="side_cart" class="mini-cart medium-up--one-fifth bg_color__light_white">
    <div class="loading"><div class="loading_mark"></div></div>
    {% assign total = 0 %}
    {% assign sub_total = 0 %}
    {% assign limit_total = range %}

    {% if free_gift_type == 'moon_stud' %}
      {% assign prog_val = 100 | divided_by: limit_total %}
      {% for item in cart.items %}
        {% assign sub_total = item.final_price | times: item.quantity %}
        {% if item.product_type != 'letter' %}
          {% assign total = total | plus: sub_total %}
        {% endif %}

      {% endfor %}
      {% assign progress = prog_val | times: cart.item_count %}
      {% assign left_val = limit_total | minus: cart.item_count %}
      {% assign total_price = total | divided_by: 100 %}
    {% else %}
      {% for item in cart.items %}
        {% assign sub_total = item.final_price | times: item.quantity %}
        {% assign total = total | plus: sub_total %}
      {% endfor %}
      {% assign progress = total | divided_by: limit_total %}
      {% assign total_price = total | divided_by: 100 %}
      {% assign left_val = limit_total | minus: total_price %}
    {% endif %}



    <p class="heading-title color__dark_black"><a href="/cart">Shopping Cart</a><span class="close_btn color__black"><img class="lazyload" data-sizes="auto" data-src="{{'close_ico.png' | asset_url}}" alt="close"> close</span></p>
    <div class="line"></div>
    {% if cart.item_count == 0 %}
      {% assign cart_class = 'hide' %}
      {% assign banner_class = 'show' %}
    {% else %}
      {% assign cart_class = 'show' %}
      {% assign banner_class = 'hide' %}
    {% endif %}

    <div class="cart_field {{ cart_class }}">
      <div class="cart-header">
        {% if settings.card_check %}
            <div class="card_text">
                <div class="text_wrap">
                    <h5>{{settings.free_text}}</h5>
                    <h6>{{settings.sub_text}}</h6>
                  </div>
            </div>
        {% endif %}
        {% if settings.product_freeproduct %}
            {% if free_gift_type == 'moon_stud' %}
                <div class="progress-bar" range="{{ section.settings.shipping_rage }}">
                    <div class="progress" style="width: {{ progress }}%;"></div>
                      {% if progress >= 100 %}
                        <span> ✓ Congratulations! You've earned a FREE GIFT!</span>
                      {% else %}
                        <span>Only {{ left_val }} item away for a FREE GIFT!</span>
                      {% endif %}
                </div>
            {% elsif free_gift_type == 'birthstone' %}
                {% unless free_birthdtone_exist == true and cart.total_price > min_birthstone_price %}
                    {% if cart.total_price < min_birthstone_price %}
                        {% assign msg = "Spend " | append: birthstone_price | append:" more to recieve a <b>FREE Birthstone Bracelet</b>" %}
                        <div class="progress-bar" range="{{ min_birthstone_price | divided_by :100  }}">
                            <div class="progress" style="width: {{cart.total_price | minus:birth_stone_variant.price | divided_by :100 }}%;"></div>
                            <span tabindex="0" title="Add one more item to unlock your freegift"> {{msg}}</span>
                        </div>
                        {% if free_gift_type == 'birthstone' and settings.birthstone_lock_img != blank %}
                            <img class="lock_img lazyload" dta-sizes="auto" data-src="{{ settings.birthstone_lock_img | img_url:'master' }}">
                        {% endif %}
                    {% else %}
                        <div class="progress-bar" range="{{ min_birthstone_price | divided_by :100 }}">
                            <div class="progress" style="width: 100%;"></div>
                            <span> ✓ Congratulations! You've earned a FREE BIRTH STONE!</span>
                        </div>
                        {% if free_gift_type == 'birthstone' and settings.birthstone_unlock_img != blank %}
                            <a href="{{birthstone_product.url}}">
                                <img class="unlock-img lazyload" data-sizes="auto" data-src="{{ settings.birthstone_unlock_img | img_url:'master' }}">
                            </a>
                        {% endif %}
                    {% endif %}
                {% endunless %}
            {% endif %}
            <div class="line"></div>
        {% endif %}
        
      </div>
      <div class="cart-content scroll-box {% if free_gift_type == 'birthstone' and free_birthdtone_exist != true %} birth_stone {% endif %}">

        {%- assign got_m_pack  = false -%}
        {%- assign cart_total = 0 -%}
        {%- assign freegift_count = 0 -%}
        {% if cart.item_count > 0 %}

            {% for item in cart.items %}
                {%- if item.id == 8167037632617 -%}
                    {%- assign got_m_pack  = true -%}
                    {%- assign got_m_pack_p = item -%}
                {%-  endif -%}
                {%- assign master = false -%}
                {%- assign child = false -%}
                {%- assign bundle = blank -%}
                {%- assign engravingNormal = false -%}
                {%- assign engravingNormalTwo = false -%}
                {%- assign engravingCharm = false -%}
                {%- assign engravingRing = false -%}
                {%- assign freegift = false -%}
                {%- if item.properties['_bundle'] != blank -%}
                    {%- assign bundle = item.properties['_bundle'] -%}
                    {%- if item.product.type == 'letters' -%}
                        {%- assign child = true -%}
                    {%- else -%}
                        {%- if item.properties['engraving'] != blank  -%}
                            {%- assign engravingNormal = true -%}
                        {%- endif -%}
                        {%- if item.properties['engraving2'] != blank  -%}
                            {%- assign engravingNormalTwo = true -%}
                        {%- endif -%}
                        {%- if item.properties['Engrave_ring'] != blank  -%}
                            {%- assign engravingRing = true -%}
                        {%- endif -%}
                        {%- if item.properties['Charm'] != blank  -%}
                            {%- assign engravingCharm = true -%}
                        {%- endif -%}
                        {%- assign master = true -%}
                    {%- endif -%}
                {%- endif -%}
                {%- if item.properties['_FREEGIFT'] != blank or item.product.tags contains 'birthstone_free_gift' -%}
                    {%- assign freegift = true -%}
                    {%- assign freegift_count = freegift_count | plus:item.quantity -%}
                    {%- endif -%}
                {%- unless child  -%}
                    {%- assign cart_total = cart_total | plus:item.quantity -%}
                {%- endunless -%}
            {% endfor %}
        {% endif %}
        <ul class="cart-list">
          {% assign i = 0 %}
          {% for item in cart.items %}

            <li class="items {% if item.product.type contains 'letters' %} engraving {% endif %}"
                {% if bundle != blank %}data-bundle='{{bundle}}'{% endif %}
                {% if engravingNormal %}data-engraving='{{item.properties['engraving']}}' {%- endif -%}
                {% if engravingNormalTwo %} data-engraving-two='{{item.properties['engraving2']}}' {%- endif -%}
                data-item='{{forloop.index0}}'
                data-key="{{item.key | replace:":","_" }}"
            >
              <a class="remove"><img class="lazyload" data-sizes="auto" data-src="{{ 'close_ico.png' | asset_url }}" alt="remove button"></a>
              <a href="{{item.product.url}}">
                <img class="product-img lazyload" data-sizes="auto" data-src="{{item.product.featured_image | img_url: '100x100'}}" alt="{{ item.product.title }}">
                <div class="product-info {% if free_gift_variant_id contains item.id and progress >= 100 and item.price == 0  %} free_gift_product {% endif %} ">
                  <p class="name">{{ item.product.title }}</p>
                  {% for option in item.options_with_values %}
                    {% unless option.value contains 'Default' %}
                        <p class="attribute color__dark_blue">{{option.name}} : {{ option.value }} </p>
                    {% endunless %}
                  {% endfor %}
                  {% for property in item.properties %}
                  {% assign first = property | first %}
                    {% if first contains '_swell_redemption_token' %}
                    <p class="attribute color__dark_blue">rewards </p>
                    {% elsif first contains '_FREEGIFT' %}
                    <p class="attribute color__dark_blue"> Free Gift </p>
                    {% else %}
                    <p class="attribute color__dark_blue">{{property | first}} : {{ property | last }} </p>
                    {% endif %}
                  {% endfor %}
                  {% assign engraving = 0 %}
                  {% assign final_price = item.final_price %}
                  {% if item.properties['engraving'] != blank %}
                    {% assign engraving = item.properties['engraving'] | size %}
                    {% assign engrave_price_val = 0 %}
                    {% if  engraving > 10 %}
                      {% assign engrave_price_val = 500 | times: 4 %}
                    {% elsif engraving <= 10 and engraving > 5 %}
                      {% assign engrave_price_val = 500 | times: 3 %}
                    {% elsif engraving <= 5 and engraving > 0 %}
                      {% assign engrave_price_val = 500 | times: 2 %}
                    {% endif %}
                    {% assign final_price = final_price | plus: engrave_price_val %}

                  {% endif %}

                  {% if item.properties['Engrave_ring'] != blank %}
                      {% assign engrave_ring = item.properties['Engrave_ring'] | size %}
                      {% if engrave_ring > 5 %}
                        {% assign final_price = final_price | plus: 500 %}
                      {% endif %}
                  {% endif %}

                  {% if item.properties['engraving2'] != blank %}
                    {% assign engraving = item.properties['engraving2'] | size %}
                    {% assign engrave_price_val = 0 %}
                    {% if  engraving > 10 %}
                      {% assign engrave_price_val = 500 | times: 4 %}
                    {% elsif engraving <= 10 and engraving > 5 %}
                      {% assign engrave_price_val = 500 | times: 3 %}
                    {% elsif engraving <= 5 and engraving > 0 %}
                      {% assign engrave_price_val = 500 | times: 2 %}
                    {% endif %}
                    {% assign final_price = final_price | plus: engrave_price_val %}
                  {% endif %}


                  {% if item.properties['Charm'] != blank %}
                    {% assign engraving = item.properties['Charm'] | size %}
                    {% assign engrave_price_val = 0 %}
                    {% if  engraving > 10 %}
                      {% assign engrave_price_val = 500 | times: 4 %}
                    {% elsif engraving <= 10 and engraving > 5 %}
                      {% assign engrave_price_val = 500 | times: 3 %}
                    {% elsif engraving <= 5 and engraving > 0 %}
                      {% assign engrave_price_val = 500 | times: 2 %}
                    {% endif %}
                    {% assign final_price = final_price | plus: engrave_price_val %}
                  {% endif %}


                  <p class="price">{{ item.quantity }} x {{ final_price | money }}</p>
                  {% assign i = i | plus:1 %}
                  <input type="hidden" class="id" value="{{i}}">
                  <input type="hidden" class="engrave-num" value="{{ final_price | minus: item.final_price | divided_by: 500 }}">
                </div>
              </a>
            <label for="updates_{{ item.key }}" class="visually-hidden hide">{{ 'cart.label.quantity' | t }}</label>
            <div class ="inline_displaying{%if  item.id == 8167037632617  %} hide{% endif %}">
                <div class="qty cart_item">
                    <div class="spinner">
                        <div class="min">-</div>
                        <input type="number" name="updates[]" readonly id="updates_{{ item.key }}" class="product_qty nojs" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
                        <div class="plus">+</div>
                    </div>
                </div>
            </div>
            {% unless item.product.tags contains 'lunarboutique'%}
                <div class="main_gift_div">
                    <div class ="gift_checkbox">
                        {% if item.properties['gift-wrap'] == 'yes' %}
                        <div class ="adding_gift gifted"><span tabindex="0" title="Remove Gift Wrap">Remove Gift Wrap</span></div>
                        {% else %}
                        <div class ="adding_gift"><span tabindex="0" title="Add Gift Wrap?">Add Gift Wrap?</span>
                        </div>
                        {% endif %}

                    </div>
                    <div class ="view_gift_larger"><a>Preview Gift Wrap</a></div>
                </div>
            {% endunless %}
            </li>

          {% endfor %}
        </ul>
        {% assign product = all_products[section.settings.related_product]  %}
        {% if product != blank and product.available %}
          <div class="relate-product">
            <!-- <p class="desc">Frequently bought with this {{ cart.items[0].product.collections[0].title }} necklaces</p> -->
            <p class="desc">Frequently bought with this necklaces</p>
            <input type="hidden" class="relate_quantity" value="{{ product.available }}">
              <a href="{{ product.url }}">
              <img class="product-img lazyload" data-sizes="auto" data-src="{{ product.featured_image | img_url: '100x' }}" alt="{{ product.title }}">
              </a>
              <div class="product-info">
                <a href="{{ product.url }}"><p class="name"> {{ product.title }} </p></a>
                <p class="attribute color__dark_blue">Chain Adjustable </p>
                <p class="price">1 x {{ product.price | money }}</p>
                <div class="add_cart_form">
                  {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
                    <input type="hidden" name="form_type" value="product">
                    <input type="hidden" name="utf8" value="✓">
                    <input type="hidden" name="id" value="{{product.first_available_variant.id}}">
                    <input type="hidden" id="Quantity" name="quantity" value="1" min="1">

                    <button type="button" name="add" id="add_to_cart_btn" class="button white small ajax-submit add_cart related {% if product.available == false %}disabled {% endif %}">
                      <span class="text">
                        {% if product.available %}add{% else %}{{ settings.sold_out_text }}{% endif %}
                      </span>
                      <span class="checkmark">adding cart...</span>
                    </button>
                    <div class="alert-message animated alert-danger bounceIn bounceOut product-alert" style="display: none;"></div>
                  {% endform %}
                </div>
              </div>
            </a>

          </div>
        {% endif %}
      </div>

      <div class="cart-form">
        <div class="sub-total">
          <p class="label left">subtotal</p>
          <p class="price right">{{ total | money }}</p>
        </div>
        <div class="checkout">
          <p class="text-center">Free Returns</p>
          <a href="/checkout" class="button checkout-btn">process to checkout</a>
          <p class="text-center">Checkout now to gain <a>{{ total | divided_by: 100 }} Moon Points!</a></p>
        </div>
      </div>
    </div>

    <div class="empty_field {{ banner_class }}">
      {% for block in section.blocks %}
        {% if block.type == 'empty_cart' %}
          <div class="best-seller">
            <p class="text-center uppercase">your cart is empty. need help? checkout our bestsellers</p>
            <a href="{{block.settings.best_seller_url}}" class="button">bestsellers</a>
          </div>
          <div class="banner">
            <a href="{{ block.settings.banner_url }}">
              <img class="lazyload" data-sizes="auto" data-src="{{ block.settings.banner_img | img_url: 'master' }}" alt="{{ block.settings.banner_title }}">
              <h3 class="brand">{{ block.settings.banner_title }}</h3>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
