{% if paeg.image %}
    {% assign image = page.image %}
{%- elsif section.settings.default_banner -%}
    {% assign image = section.settings.default_banner %}
{% endif %}

{% if section.settings.title %}
    {% assign title = section.settings.title %}
{%- elsif paeg.title != 'blank' -%}
    {% assign title = page.title %}
{% endif %}

{% style %}
    .page_banner{
    background: url({{ image | img_url: '2048x' }}) no-repeat 50% 50% / cover;
    }
    .caption h2{
        color: {{ section.settings.title_color }}!important;
    }
{% endstyle %}

<header class="page_banner" aria-label="{{page.title}}">
    <div class="caption captionOverlay--true">
        <h2 class="mark">{{ title }}</h2>
    </div>
    <div class="icon-links">
        {% for block in section.blocks %}
            {% if block.type == 'icon_link' %}
                <div class="grid__item one-third">
                    <div>
                        <img src="{{ block.settings.icon | img_url: 'original' }}" alt="{{ block.settings.title }}">
                        <p>{{ block.settings.title }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</header>



