{% if section.settings.wide_display %}
    {% assign wide_display = 'fluid-display' %}    
{% endif %}

{% if page.image != blank %}
    {% assign image = page.image %}
{% else %}
    {% assign image = section.settings.image %}    
{% endif %}

{% if page.title != blank %}
    {% assign title = page.title %}
{% else %}
    {% assign title = section.settings.title %}
{% endif %} 

{% if page.content != blank %}
    {% assign text = page.content %}
{% else %}
    {% assign text = section.settings.text %}
{% endif %}
<section class="image-text-block{{ wide_display }}">
    {% capture image_layout %}
        <div class="image-with-text__image grid__item two-thirds medium-down--one-whole {% if section.settings.layout == 'right' %}right{% else %}left{% endif %}">
        {% if image != blank %}
            <img src="{{ image | img_url: 'original'}}" alt="{{ section.settings.sub_title }}">
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %} 
        </div>
    {% endcapture %}
    {{ image_layout }}

    <div class="image-with-text__text grid__item one-third medium-down--one-whole left">
        <div class="info">
            {% if section.settings.sub_title != blank %}
                <span class="title"> {{ section.settings.sub_title }} </span>
            {% endif %}
            {% if title != blank %}
                <h3>{{ title | escape }}</h3>
            {% endif %}
            {% if text != blank %}
                <div class="text">{{ text }}</div>
            {% endif %}
            {% if section.settings.button_label != blank %}
                <a href="{{section.settings.button_link}}" class="button small">{{ section.settings.button_label }}</a>
            {% endif %}
        </div>
    </div>
</section> 
<style>
    .image-with-text__text{
        background-color: {{ section.settings.bg_color }};
    }
</style>
