{% assign product_price               = bold_price %}
{% assign product_compare_at_price    = bold_compare_at_price %}
{% assign collection_handles          = product.collections | map: 'handle' %}

<div class="grid__item two-eighths medium-down--one-half"> 
    <div class="content">
        {% if product.featured_image != blank %}
        <a href="{{ product.url | within: collection }}">
           <div class="zoom">
               <img src="{{ product.featured_image | img_url: 'original' }}" style="width: 100%;" alt="{{ product.title }}">
            </div>
            <div class="banner_holder">
                {% if product_compare_at_price > product_price %}<div translatable class="sale_banner thumbnail_banner">on sale</div>{% endif %}
                {% if collection_handles contains 'just-landed' %}<div translatable class="new_banner thumbnail_banner">new</div>{% endif %}
                {% if collection_handles contains 'coming-soon' %}<div translatable class="new_banner thumbnail_banner">coming soon</div>{% endif %}
                {% if collection_handles contains 'pre-order' %}<div translatable class="new_banner thumbnail_banner">pre order</div>{% endif %}
                {% if product.tags contains 'deal' %}<div translatable class="deal_banner thumbnail_banner">deal</div>{% endif %}
                {% if product.tags contains 'Excluded' %}<div translatable class="not_promotion_banner thumbnail_banner">not on promotion</div>{% endif %}
            </div>
        </a>
        {% endif %}

        <div class="title">
        <a href="{{ product.url | within: collection }}"><p class="text-center">{{ product.title | truncate: 50, '...' }}</p></a>
        </div>
        <div class="review-sec">
            <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
        </div>
        <h4 class="text-center">
        {% if bold_compare_at_price > bold_price %}

            {% if bold_price_varies %}
            {%- assign sale_price = bold_price | money -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
            {{ 'products.product.on_sale' | t }}
            {{ bold_price | money }}
            {% endif %}

        {% else %}

            {% if bold_price_varies %}
            {%- assign price = bold_price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            {{ bold_price | money }}
            {% endif %}

        {% endif %}

        {% if bold_compare_at_price > bold_price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ bold_compare_at_price | money }}</s>
        {% endif %}

        {% unless product.available %}
            {{ 'products.product.sold_out' | t }}
        {% endunless %}
        </p>
    </div>
     
</div>