{% assign product_price               = product.price %}
{% assign product_compare_at_price    = product.compare_at_price %}
{% assign collection_handles          = product.collections | map: 'handle' %}

<div class="grid__item two-eighths medium-down--one-half">
    <div class="content">
        {% if product.featured_image != blank %}
        <a href="{{ product.url | within: collection }}">
           <div class="zoom">
               <img src="{{ product.featured_image | img_url: 'original' }}" style="width: 100%;" alt="{{ product.title }}">
            </div>
            <div class="banner_holder">
                {% if product_compare_at_price > product_price %}<div translatable class="sale_banner thumbnail_banner">asd{{ 'products.badge.sale' | t }}</div>{% endif %}
                {% if collection_handles contains 'just-landed' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.new' | t }}</div>{% endif %}
                {% if collection_handles contains 'coming-soon' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.soon' | t }}</div>{% endif %}
                {% if collection_handles contains 'pre-order' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.pre_order' | t }}</div>{% endif %}
                {% if product.tags contains 'deal' %}<div translatable class="deal_banner thumbnail_banner">{{ 'products.badge.deal' | t }}</div>{% endif %}
                {% if product.tags contains 'Excluded' %}<div translatable class="not_promotion_banner thumbnail_banner">{{ 'products.badge.not_promo' | t }}</div>{% endif %}
            </div>
        </a>
        {% endif %}

        <div class="title">
        <a href="{{ product.url | within: collection }}"><p class="text-center">{{ product.title | truncate: 50, '...' }}</p></a>
        </div>
        <div class="review-sec">
            <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
        </div>
        {% if product.available %}
            {% if product.price_min > 0 %}
                <h4 class="text-center">{{ product.price_min | money }}</h4>
            {% else %}
                {{ free_price_text }}
            {% endif %}
        {% else %}
            <h4 class="text-center sold_out">sold out</h4>
        {% endif %}
    </div>

</div>
