{% if section.settings.wide_display %}
    {% assign wide_display = 'fluid-display' %}    
{% endif %}

{% if page.image != blank %}
    {% assign image = page.image %}
{% else %}
    {% assign image = section.settings.image %}    
{% endif %}

{% if section.settings.title != blank %}
    {% assign title = section.settings.title %}
{% else %}
    {% assign title = page.title %}
{% endif %} 

{% if page.content != blank %}
    {% assign text = page.content %}
{% else %}
    {% assign text = section.settings.text %}
{% endif %}
<section class="iamge-text-block{{ wide_display }}">
    {% capture image_layout %}
        <div class="image-with-text__image grid__item three-fifths medium-down--one-whole {% if section.settings.layout == 'right' %}right{% else %}left{% endif %}">
        {% if image != blank %}
            <img src="{{ image | img_url: 'original'}}">
        {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %} 
        </div>
    {% endcapture %}
    {{ image_layout }}

    <div class="image-with-text__text grid__item two-fifths medium-down--one-whole left">
        <div class="info">
            {% if section.settings.enable_devider %}
                <div class="devider"></div>
            {% endif %}

            {% if title != blank %}
                <h2>{{ title | escape }}</h2>
            {% endif %}

            <div class="stars">
                {% for star in (1..5) %}
                    <svg width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icons" transform="translate(-949.000000, -117.000000)" fill="#2E4676">
                                <g id="stars" transform="translate(949.000000, 117.000000)">
                                    <polygon id="Star" points="8.08398039 12.75 3.08780574 15.3766445 4.04199019 9.81332223 -5.25746113e-13 5.87335555 5.58589307 5.06167777 8.08398039 0 10.5820677 5.06167777 16.1679608 5.87335555 12.1259706 9.81332223 13.080155 15.3766445"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>
                {% endfor %}
            </div>
            
            {% if text != blank %}
                <div class="text">{{ text }}</div>
            {% endif %}
            {% if section.settings.button_label != blank %}
                <button class="button small">{{ section.settings.button_label }}</button>
            {% endif %}
        </div>
    </div>
</section> 
<style>
    .image-with-text__text{
        background-color: {{ section.settings.bg_color }};
    }
</style>
