<div class="moon-phase-block">
    <h2 class="mark capitalize text-center">{{block.settings.title}}</h2>
    <div class="devider"></div>
    <p class="title text-center">{{block.settings.sub_title}}</p>
    <div class="content">
        <div class="side block">
            <div class="img-block" data-moon="new">
                <h4 class="title capitalize">new moon</h4>
                <div class="img" data-moon="NL">
                    <div class="moon">
                        <img src="{{ 'NL_icon.png' | asset_url }}"  class="nomal" alt="moon phase">
                        <img src="{{ 'NL_active_icon.png' | asset_url }}"  class="active" alt="moon phase">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">nl</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="waxing block">
            <div class="img-block column" data-moon="Crescent">
                <h4 class="title capitalize">Waxing Crescent</h4>
                <div class="img" data-moon="CA">
                    <div class="moon">
                        <img src="{{ 'CA_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ 'CA_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">ca</h5>
                    </div>
                </div>
                <div class="img" data-moon="1A">
                    <div class="moon">
                        <img src="{{ '1A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '1A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">1a</h5>
                    </div>
                </div>
                <div class="img" data-moon="2A">
                    <div class="moon">
                        <img src="{{ '2A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '2A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">2a</h5>
                    </div>
                </div>
                <div class="img" data-moon="3A">
                    <div class="moon">
                        <img src="{{ '3A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '3A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">3a</h5>
                    </div>
                </div>
            </div>
            <div class="img-block column" data-moon="Gibbous">
                <h4 class="title capitalize">Waxing Gibbous</h4>
                <div class="img" data-moon="4A">
                    <div class="moon">
                        <img src="{{ '4A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '4A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">4a</h5>
                    </div>
                </div>
                <div class="img" data-moon="5A">
                    <div class="moon">
                        <img src="{{ '5A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '5A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">5a</h5>
                    </div>
                </div>
                <div class="img" data-moon="6A">
                    <div class="moon">
                        <img src="{{ '6A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '6A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">6a</h5>
                    </div>
                </div>
                <div class="img" data-moon="7A">
                    <div class="moon">
                        <img src="{{ '7A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '7A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">7a</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="full block">
            <div class="img-block" data-moon="full">
                <h4 class="title capitalize">Full Moon</h4>
                <div class="img" data-moon="PL">
                    <div class="moon">
                        <img src="{{ 'PL_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ 'PL_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">pl</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="waning block">
            <div class="img-block" data-moon="Gibbous">
                <h4 class="title capitalize">Waning Gibbous</h4>
                <div class="img" data-moon="7D">
                    <div class="moon">
                        <img src="{{ '7D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '7D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">7d</h5>
                    </div>
                </div>
                <div class="img" data-moon="6D">
                    <div class="moon">
                        <img src="{{ '6D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '6D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">6d</h5>
                    </div>
                </div>
                <div class="img" data-moon="5D">
                    <div class="moon">
                        <img src="{{ '5D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '5D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">5d</h5>
                    </div>
                </div>
                <div class="img" data-moon="4D">
                    <div class="moon">
                        <img src="{{ '4D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '4D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">4d</h5>
                    </div>
                </div>
            </div>
            <div class="img-block" data-moon="Crescent">
                <h4 class="title capitalize">Waning Crescent</h4>
                <div class="img" data-moon="3D">
                    <div class="moon">
                        <img src="{{ '3D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '3D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">3d</h5>
                    </div>
                </div>
                <div class="img" data-moon="2D">
                    <div class="moon">
                        <img src="{{ '2D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '2D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">2d</h5>
                    </div>
                </div>
                <div class="img" data-moon="1D">
                    <div class="moon">
                        <img src="{{ '1D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ '1D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">1d</h5>
                    </div>
                </div>
                <div class="img" data-moon="CD">
                    <div class="moon">
                        <img src="{{ 'CD_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ 'CD_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">cd</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="side block">
            <div class="img-block" data-moon="new">
                <h4 class="title capitalize">new moon</h4>
                <div class="img" data-moon="NL">
                    <div class="moon">
                        <img src="{{ 'NL_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
                        <img src="{{ 'NL_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
                    </div>
                    <div class="title">
                        <h5 class="uppercase">nl</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="moon-carousel" class="owl-carousel owl-theme">
        <div class="item" data-moon="NL">
            <img src="{{ 'NL_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ 'NL_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">NL</h5>
            </div>
        </div>
        <div class="item" data-moon="CA">
            <img src="{{ 'CA_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ 'CA_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">CA</h5>
            </div>
        </div>
        <div class="item" data-moon="1A">
            <img src="{{ '1A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '1A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">1A</h5>
            </div>
        </div>
        <div class="item" data-moon="2A">
            <img src="{{ '2A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '2A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">2A</h5>
            </div>
        </div>
        <div class="item" data-moon="3A">
            <img src="{{ '3A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '3A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">3A</h5>
            </div>
        </div>
        <div class="item" data-moon="4A">
            <img src="{{ '4A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '4A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">4A</h5>
            </div>
        </div>
        <div class="item" data-moon="5A">
            <img src="{{ '5A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '5A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">5A</h5>
            </div>
        </div>
        <div class="item" data-moon="6A">
            <img src="{{ '6A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '6A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">6A</h5>
            </div>
        </div>
        <div class="item" data-moon="7A">
            <img src="{{ '7A_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '7A_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">7A</h5>
            </div>
        </div>
        <div class="item" data-moon="PL">
            <img src="{{ 'PL_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ 'PL_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">PL</h5>
            </div>
        </div>
        <div class="item" data-moon="7D">
            <img src="{{ '7D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '7D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">7D</h5>
            </div>
        </div>
        <div class="item" data-moon="6D">
            <img src="{{ '6D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '6D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">6D</h5>
            </div>
        </div>
        <div class="item" data-moon="5D">
            <img src="{{ '5D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '5D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">5D</h5>
            </div>
        </div>
        <div class="item" data-moon="4D">
            <img src="{{ '4D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '4D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">4D</h5>
            </div>
        </div>
        <div class="item" data-moon="3D">
            <img src="{{ '3D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '3D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">3D</h5>
            </div>
        </div>
        <div class="item" data-moon="2D">
            <img src="{{ '2D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '2D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">2D</h5>
            </div>
        </div>
        <div class="item" data-moon="1D">
            <img src="{{ '1D_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ '1D_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">1D</h5>
            </div>
        </div>
        <div class="item" data-moon="CD">
            <img src="{{ 'CD_icon.png' | asset_url }}"  class="nomal" alt="moon icon">
            <img src="{{ 'CD_active_icon.png' | asset_url }}"  class="active" alt="moon icon">
            <div class="title">
                <h5 class="uppercase">CD</h5>
            </div>
        </div>
    </div>
</div>