<section>
    <div class="grid video-text__block">
        <div class="grid__item one-third medium-down--one-whole video-text__text">
            <div class="info">
                <div class="stars">
                    {% for i in (1..block.settings.stars) %}
                        <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                            <title>5A2BBEF4-B905-4ADD-985D-69CFAD68678C</title>
                            <desc>Created with sketchtool.</desc>
                            <defs></defs>
                            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="icons" transform="translate(-1131.000000, -36.000000)" fill="#2E4676" fill-rule="nonzero">
                                    <path d="M1140,47.8028711 L1142.84764,49.2895533 L1142.30379,46.1407099 L1144.60757,43.9106867 L1141.42382,43.4512767 L1140,40.5863644 L1138.57618,43.4512767 L1135.39243,43.9106867 L1137.69621,46.1407099 L1137.15236,49.2895533 L1140,47.8028711 Z M1134.43769,53 L1135.5,46.8493422 L1131,42.4934222 L1137.21885,41.5960533 L1140,36 L1142.78115,41.5960533 L1149,42.4934222 L1144.5,46.8493422 L1145.56231,53 L1140,50.0960533 L1134.43769,53 Z" id="star_ico"></path>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
                <h2> {{ block.settings.title}} </h2>
                <h4> {{block.settings.sub_title}} </h4>
                <div class="devider left "></div>
                <div class="desc"> {{ block.settings.text }} </div>
            </div>
        </div>
        <div class="grid__item two-thirds medium-down--one-whole video-text__video">
            <video id="videoTara" controls="controls" width="100%" poster="{{'meettara.jpg' | asset_url}}" >
                <source src="{{ 'Reduced_file_size_WS_page.mp4' | file_url }}" type="video/mp4">
            </video>
        </div>
    </div>
</section>
<style>
    .video-text__block{
        background-color: {{ block.settings.bg_color }};
    }
    .video-text__block h2, .video-text__block  h4, .video-text__block  p{
        color: {{ block.settings.title_color }};
    }
    .video-text__block .devider::before{
        background-color: {{ block.settings.title_color }};
    }
</style>
