{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}



<section class="article">
    <article role="article">
        <header role="banner">
            <h2>{{ article.title }}</h2>
            {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            <span class="left">{{ date }}</span>
            <div class="right">
              {%- assign social_accounts = 'facebook, twitter, pinterest, instagram, snapchat, tumblr, youTube' | split: ', ' -%}
                <p class="brand">share </p>
                {% for social in social_accounts %}
                {%- assign social_handle = social | handleize -%}
                {% capture social_link %}{{ social_handle }}_link{% endcapture %}
                {% capture social_icon %}{{ social_handle }}_ico.svg{% endcapture %}
                  {% if settings[social_link] != blank %}
                      <a target="_blank" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                        <img src="{{social_icon | asset_url}}" alt="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                      </a>
                  {% endif %}
                {% endfor %}
            </div>
        </header>
        {% if article.image %}
          <div class="hero-banner hero-banner--article lazyload" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>

          <noscript>
            {%- assign image_size = article.image.width | append: 'x' -%}
            <div class="hero-banner hero-banner--article" style="background-image: {{ article.image | img_url: image_size }}"></div>
          </noscript>
        {% endif %}
        <div class="content left">
          {{ article.content }}
        </div>
      </article>
</section>
