
{% include 'account_page_banner' %}
<section class="page-content">
    <div class="grid">
        <div class="grid__item two-eighths medium-down--one-whole">
            <div class="menu">
                <ul class="link-list">
                    <li class="active"><a class="link" href="">dashboard</a></li>
                    <!-- <li><a class="link" href="/account/orders">order history</a></li> -->
                    <li><a class="link" href="/account/addresses">account detail</a></li>
                    <li><a class="link" href="/pages/my-wishlist">wishlist</a></li>
                    <li><a class="link" href="/pages/rewards">rewards</a></li>
                </ul>
            </div> 
        </div>
        <div class="grid__item six-eighths medium-down--one-whole">
            <div class="content">
                <h4 class="title">{{ 'customer.orders.title' | t }}</h4>
                {% paginate customer.orders by 20 %}
                {% if customer.orders.size > 0 %}
                    <table class="responsive-table  small--hide">
                        <thead>
                            <tr>
                            <th>{{ 'customer.orders.order_number' | t }}</th>
                            <th>{{ 'customer.orders.date' | t }}</th>
                            <th>{{ 'customer.orders.payment_status' | t }}</th>
                            <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                            <th>{{ 'customer.orders.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in customer.orders %}
                            <tr class="responsive-table-row">
                                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for order in customer.orders %}
                        <ul class="order-list">
                            <li>
                                <div class="grid">
                                    <div class="grid__item one-half"> <p class="mark uppercase left">{{ 'customer.orders.order_number' | t }}</p></div>
                                    <div class="grid__item one-half">{{ order.name | link_to: order.customer_url }}</div>
                                </div>
                            </li>
                            <li>
                                <div class="grid">
                                    <div class="grid__item one-half"> <p class="mark uppercase left">{{ 'customer.orders.date' | t }}</p></div>
                                    <div class="grid__item one-half">{{ order.created_at | date: format: 'month_day_year' }}</div>
                                </div>
                            </li>
                            <li>
                                <div class="grid">
                                    <div class="grid__item one-half"> <p class="mark uppercase left">{{ 'customer.orders.payment_status' | t }}</p></div>
                                    <div class="grid__item one-half">{{ order.financial_status_label }}</div>
                                </div>
                            </li>
                            <li>
                                <div class="grid">
                                    <div class="grid__item one-half"> <p class="mark uppercase left">{{ 'customer.orders.fulfillment_status' | t }}</p></div>
                                    <div class="grid__item one-half">{{ order.fulfillment_status_label }}</div>
                                </div>
                            </li>
                            <li>
                                <div class="grid">
                                    <div class="grid__item one-half"> <p class="mark uppercase left">{{ 'customer.orders.total' | t }}</p></div>
                                    <div class="grid__item one-half">{{ order.total_price | money }}</div>
                                </div>
                            </li>
                        </ul>
                    {% endfor %}
                {% else %}
                    <p class="order-empty">{{ 'customer.orders.none' | t }}</p>
                {% endif %}

                {% if paginate.pages > 1 %}
                    {% include 'pagination' %}
                {% endif %}

                {% endpaginate %}

                <h4 class="title">{{ 'customer.account.details' | t }}</h4>

                {{ customer.default_address | format_address }}

                <a class="adress" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
            </div>
        </div>
    </div>
</section>



{% schema %}
{
    "name": "dashbord section",
    "settings": [
        {
            "type": "image_picker",
            "id": "default_banner",
            "label": "Banner"
        }
    ]    
}
{% endschema %}