{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header" class="fluid-display">
  <div class="grid header-title">
    <a href="{{section.settings.announcement_bar_link}}"><p class="text-center grid__item">{{ section.settings.announcement_bar_text }}</p></a>
  </div>
  <div class="header-menu grid border_color__dark_grey">
    <header role="banner" class="grid__item grid banner">
    </header>

    <div class="grid__item mark-simple">
      <a class="logo-image">
        {% if section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
        {% else %}
          <svg width="263px" height="51px" viewBox="0 0 263 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: sketchtool 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
            <title>Moonglow</title>
            <desc>Created with sketchtool.</desc>
            <defs></defs>
            <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icons" transform="translate(-33.000000, -265.000000)" fill="#2E4777">
                    <g id="logo" transform="translate(33.000000, 265.000000)">
                        <path d="M21.5287984,33.6607246 C21.4390967,33.4836113 21.3447949,33.3179988 21.2642934,33.1431857 C21.2205926,33.0465785 21.2136925,32.9292697 21.1630915,32.8372628 C21.0086589,32.5797671 20.7217949,32.4318724 20.4224776,32.4554342 C20.2296864,32.4359668 20.0531926,32.564874 20.0130698,32.7544566 C19.8589669,33.4445083 19.6818636,34.1345601 19.5783617,34.8246118 C19.5162605,35.2524439 19.6611632,35.3835538 20.1303721,35.5698677 C20.1644924,35.5079524 20.1952054,35.4442193 20.2223738,35.3789534 C20.3763419,34.8398531 20.8214616,34.4338812 21.3723954,34.3300748 C21.6905915,34.2495463 21.9990799,34.1346279 22.2924128,33.9873491 C22.4378274,33.8941564 22.5714339,33.7837124 22.6903203,33.6584244 C22.2602122,33.3824037 21.9221058,33.4882116 21.5402986,33.6584244 L21.5287984,33.6607246 Z M15.7464895,0 C15.8475015,0.214732494 15.8380693,0.465126612 15.721189,0.671650374 C15.454384,1.22369178 15.721189,2.04025302 16.2708994,2.28177113 C16.5524379,2.35776211 16.8479071,2.36642969 17.1334156,2.30707303 C17.3720166,2.28582407 17.6053083,2.22438714 17.8234286,2.1253594 C18.3501074,1.90903051 18.9230632,1.82988852 19.48866,1.89534215 C19.6513983,1.90392588 19.8122752,1.93409199 19.967069,1.98504888 C20.4270776,2.13456009 20.5374797,2.42438183 20.2821749,2.82231167 C19.9592644,3.34322075 19.4343949,3.70648421 18.8331476,3.82518689 C18.5479423,3.8826912 18.2535367,3.90339275 17.9637313,3.94479586 C17.5221229,4.00690052 17.1104152,4.20701553 16.9448121,4.60494537 C16.5745051,5.49511213 15.7947904,5.71132835 14.9966754,5.93444508 C14.4684476,6.07296102 13.9498333,6.24584215 13.4441461,6.4519839 C12.9841375,6.64979873 12.9427367,6.83381254 13.2141418,7.26164462 C13.4415237,7.63984197 13.764359,7.95158984 14.1502594,8.16561242 C14.3926705,8.29012735 14.612651,8.45415034 14.8011717,8.65094882 C15.4351679,9.36413898 15.9564001,10.1700774 16.3468008,11.0408281 C16.408911,11.1733719 16.4507781,11.3144874 16.4710031,11.4594595 C16.517004,11.8389879 16.5446045,12.2208166 16.5814052,12.6095457 C16.663508,13.1524256 16.625826,13.7066968 16.4710031,14.2334675 C16.4267496,14.3721473 16.400468,14.5159314 16.3928017,14.6612996 C16.3353006,15.4318574 16.4342025,15.5813686 17.1426158,15.8297872 C17.2461177,15.86659 17.3519197,15.8964922 17.4531216,15.9401955 C18.0879336,16.2162162 18.214436,16.4692352 18.0511329,17.1385854 C18.0120322,17.2995975 17.9591312,17.4560092 17.9223305,17.6147211 C17.7423857,18.5519876 17.0620216,19.3145683 16.1512971,19.59977 C15.4372034,19.8823854 14.7385487,20.2025561 14.0582577,20.5589419 C13.858281,20.650137 13.6742369,20.7728399 13.5131474,20.9223692 C12.8190077,21.6040408 12.2848182,22.4312953 11.949118,23.3444508 C11.8244245,23.6179105 11.8852045,23.9402468 12.1009208,24.1495112 C12.4988283,24.5750431 12.8622352,25.0327775 13.4326459,25.2673951 C13.5754329,25.3075884 13.6963865,25.4028975 13.7688638,25.5323285 C13.841341,25.6617595 13.8593966,25.8146947 13.8190532,25.9574468 C13.7431518,26.3346751 14.1571596,26.8545141 14.6171682,26.9442208 C15.4221834,27.1006325 16.2271986,27.1926394 17.0529141,27.293847 C17.1977602,27.2834544 17.340721,27.2548606 17.4784221,27.2087407 C18.0810335,27.1190339 18.6008433,27.2087407 18.9389496,27.8067855 C19.1282245,28.1198918 19.3387912,28.4196203 19.5691615,28.7038528 C20.0682709,29.3525014 20.8042847,29.426107 21.5379986,29.4790109 C21.6507007,29.4790109 21.7680029,29.3962047 21.9520064,29.3271995 C21.188392,28.5980449 21.2619934,27.7607821 21.4919977,26.8568143 C22.1337098,27.0017251 22.7202208,27.1167338 23.2975317,27.2754457 C23.5100995,27.368296 23.712762,27.4823483 23.9024431,27.6158712 C24.1324474,27.7400805 24.3831521,27.9424957 24.6269567,27.9493962 C25.3169697,27.9631972 25.5906749,28.4094307 25.7999788,28.9269695 C25.9165187,29.2350033 25.993795,29.5564911 26.0299832,29.8838413 C26.1017072,30.3419649 26.3718623,30.7451161 26.7682971,30.9856239 C27.0594165,31.1758824 27.3389805,31.383263 27.6055128,31.6066705 C28.1368228,32.0828062 28.1299227,32.6210466 27.5940126,32.986774 C27.4665415,33.0614411 27.3573227,33.1635939 27.2743066,33.2857964 C26.8142979,34.1023577 25.9931825,34.5301898 25.2548686,35.0155262 C24.6696332,35.4159427 23.9385412,35.5403194 23.2538309,35.3559517 C23.1963298,35.6894767 23.1135282,36.0230017 23.0882278,36.3611271 C23.0542342,36.5954365 23.0869158,36.8345834 23.1825295,37.0511788 C23.4286342,37.4675101 23.3918335,37.8792409 23.3297323,38.3484761 L22.2349117,38.1805635 C22.2899771,37.8354165 22.3268288,37.4876088 22.3453138,37.1385854 C22.3305485,36.7874811 22.2975366,36.4373822 22.2464119,36.0897067 C21.9947802,36.1639858 21.8130175,36.3830222 21.7864032,36.6440483 C21.6079178,37.2184566 21.4673131,37.8039581 21.3654953,38.3967798 C21.3669321,38.6966577 21.1452556,38.950861 20.8479856,38.9902243 C20.4914789,39.0707303 20.1579726,39.2018401 19.7945657,39.2892467 C18.7687464,39.5353652 17.8395289,39.2616446 16.9724126,38.7188039 C16.8019911,38.6107519 16.651762,38.4737477 16.5285042,38.3139735 C16.0339949,37.6745256 16.0316949,37.2190914 16.3491008,36.4738355 C16.4694948,36.2505609 16.5621822,36.0134224 16.625106,35.7676826 C16.6680423,35.6134962 16.6182687,35.448371 16.497276,35.3436032 C16.3762833,35.2388353 16.2057454,35.2131922 16.0592954,35.2777458 C15.0794769,35.5307648 14.5136663,36.2507188 14.5251665,37.3248994 C14.5251665,37.8746406 14.5251665,38.4243818 14.5251665,38.9741231 C14.5535114,39.3029167 14.3942668,39.6196445 14.1134587,39.7929845 C13.9160369,39.9220666 13.7366029,40.0767597 13.5798487,40.253019 C13.3498444,40.5129385 13.3268439,40.7314549 13.5591483,40.9844738 C13.8765543,41.3317999 14.2284609,41.6492237 14.5803675,41.9965497 C15.1231778,41.4813111 15.7602898,41.6377228 16.3537009,41.7389304 C16.9471121,41.840138 17.471522,42.0678551 18.0327326,42.2242668 C18.4866706,42.3306264 18.8536143,42.6636769 19.0033508,43.1052329 C19.1022527,43.3766532 19.2333552,43.6388729 19.3713578,44 C19.1591094,43.9971612 18.947181,43.9825711 18.7365458,43.9562967 C13.8213532,43.0247269 9.61457402,40.7912593 6.17600927,37.133985 C3.1461242,33.9476916 1.12353289,29.9382872 0.36149977,25.6078206 C0.167358825,24.4165006 0.0475250662,23.2142546 0.002693013,22.0080506 C-0.0119849036,21.1066682 0.0333494922,20.2053084 0.138395569,19.3099482 C0.39101011,16.4252035 1.23169678,13.6227572 2.60864209,11.0753306 C5.39016114,5.86774008 9.55937298,2.25263561 15.1162776,0.230017251 C15.2580093,0.164544194 15.3941634,0.0876166127 15.5233853,0 L15.7464895,0 Z" id="Shape"></path>
                        <path d="M143.405147,50.979571 C143.377877,50.7622322 143.338083,50.547248 143.286029,50.3360572 C142.913235,49.0924413 142.527206,47.851379 142.145588,46.607763 C142.092647,46.4366701 142.048529,46.2655771 142,46.0970378 C142.401471,45.9489275 142.410294,45.9463739 142.533824,46.3524004 C142.825,47.3074566 143.102941,48.26762 143.389706,49.2252298 C143.451471,49.4320735 143.515441,49.6363636 143.623529,49.9913177 C143.736029,49.7078652 143.806618,49.5623085 143.844118,49.4090909 C144.122059,48.4489275 144.395588,47.4862104 144.669118,46.5234934 C144.691033,46.4049152 144.727428,46.2905556 144.777206,46.1838611 C144.826944,46.0913297 144.906215,46.0252575 144.997794,46 C145.09612,46.0142189 145.182837,46.0814588 145.231618,46.1813075 C145.328676,46.4366701 145.392647,46.7175689 145.469853,46.9856997 C145.705147,47.8130746 145.941176,48.6404494 146.177941,49.4678243 C146.213235,49.592952 146.266176,49.7231869 146.356618,49.9657814 C146.458088,49.6823289 146.526471,49.5137896 146.577206,49.3375894 C146.875,48.3416752 147.177206,47.345761 147.459559,46.3472932 C147.55,46.0357508 147.680147,45.9157303 148,46.0715015 C147.7,47.0623085 147.395588,48.0505618 147.102206,49.0413687 C146.910294,49.6925434 146.731618,50.3462717 146.548529,51 L146.127206,51 C146.122692,50.9002828 146.110885,50.8011878 146.091912,50.7037794 C145.769853,49.597208 145.444853,48.4906367 145.116912,47.3840654 C145.092647,47.2997957 145.055147,47.2206333 144.973529,47.0137896 C144.865441,47.325332 144.786029,47.5245148 144.730882,47.7185904 C144.419853,48.8089888 144.113235,49.9019408 143.806618,50.9948927 L143.405147,50.979571 Z" id="Shape"></path>
                        <path d="M111.040452,50.9974367 C110.742877,50.7795593 110.432135,50.5770614 110.152993,50.3386778 C109.873852,50.1002943 110.008156,49.9490617 110.303098,49.8132087 C110.429501,49.9259923 110.566439,50.0541555 110.695476,50.1669391 C111.382795,50.7257307 112.238653,50.4591513 112.438792,49.6132741 C112.490388,49.3532304 112.513341,49.0885715 112.50726,48.8237887 C112.50726,48.0291768 112.50726,47.2320016 112.50726,46.4348265 C112.50726,46.1785 112.50726,45.9221736 112.915438,46.0221409 L112.991807,46.1144184 C112.991807,47.2345649 113.010241,48.3572746 112.991807,49.4799843 C113.001639,50.0469184 112.670071,50.5671056 112.14385,50.8103184 C112.059995,50.8654761 111.982323,50.9290519 111.91211,51 L111.040452,50.9974367 Z" id="Shape"></path>
                        <path d="M35.3314227,9.71807522 L36.4838758,9.49919433 C36.4838758,9.82518714 36.4838758,10.0766673 36.4838758,10.3281475 C36.4838758,10.6820825 36.6913174,10.8427504 37.0116993,10.7239959 C37.1788782,10.6521221 37.3283811,10.5440131 37.4496315,10.4073172 C37.7769377,9.99399476 38.3130742,9.81193454 38.8210508,9.94161314 C39.3989709,10.0419915 39.9840853,10.094171 40.5704746,10.097624 C40.9790741,10.0992601 41.3518435,10.3335018 41.5339255,10.7030392 C42.0410048,11.5995194 42.2761053,12.591469 42.5573038,13.5671189 C42.6287559,13.8162705 42.6725492,14.0724077 42.7555258,14.3169023 C43.0390293,15.1598266 43.0090655,16.0283646 42.9860164,16.8969026 C42.9595961,17.1194559 42.9029787,17.3372763 42.8177583,17.5442312 C42.7555258,17.7514694 42.6748541,17.9540507 42.5872676,18.1682745 C42.3982653,17.8515958 42.2138728,17.520946 42.0018214,17.2042672 C41.8400441,16.8784678 41.4814192,16.7035319 41.128262,16.7781481 C40.8552042,16.8110034 40.5796509,16.8172415 40.3054104,16.7967762 C39.7300993,16.8093519 39.1712487,16.602313 38.740379,16.2169747 C38.5490718,16.0446642 38.3439352,15.8863249 38.1480181,15.7163429 C37.9721112,15.5809785 37.8601503,15.377553 37.8391607,15.1551696 C37.781538,14.5008554 37.3090322,14.1748626 36.7812087,13.9187254 C36.6824879,13.8730297 36.5722186,13.8592065 36.4654365,13.8791406 C35.863856,14.0095377 35.1977381,14.8873898 35.2622755,15.5091046 C35.2883704,15.7465453 35.3671567,15.9749785 35.4927661,16.1773899 C35.8828224,16.7887529 36.4124144,17.2966205 37.0370533,17.6583286 C37.1590272,17.7413817 37.3005664,17.7903836 37.4473266,17.8003684 C38.3462401,17.7724261 38.8855881,18.3615417 39.4180215,18.9646284 C39.775282,19.3604768 40.1094934,19.7842675 40.4413999,20.1964155 C40.5423863,20.3042423 40.6334233,20.4211529 40.7133788,20.5456935 C40.9092959,20.8973 40.7594769,21.1697369 40.3745576,21.2861629 C40.0134895,21.4091418 39.6588444,21.550588 39.3119958,21.7099535 C39.1783112,21.765838 39.0561512,21.8566503 38.9224666,21.9102063 C38.2909223,22.1663435 37.9474913,22.0825168 37.5395229,21.5353145 C37.1413343,21.0674295 36.863462,20.5075907 36.7305008,19.9053505 C36.652134,19.4582746 36.1473595,19.1183107 35.6057065,19.092697 C35.1862136,19.0740688 34.7667206,19.0624262 34.3449228,19.0437981 C34.0114028,19.0336986 33.7115149,18.8359204 33.5681694,18.5315237 C33.3737378,18.2414958 33.1357867,17.983824 32.862868,17.7677691 C32.6314567,17.5489603 32.3070583,17.4615678 31.9985282,17.5349171 C31.7106978,17.5675572 31.420336,17.5706778 31.1318834,17.5442312 C30.8025437,17.5505252 30.4797249,17.4510567 30.2099209,17.2601517 C29.874762,17.0339167 29.5059224,16.8633298 29.1173953,16.7548629 C27.9534177,16.4148989 27.2296771,15.6837436 26.9553932,14.4845558 C26.8615374,14.1076681 26.7390131,13.738665 26.5889131,13.3808373 C26.4967169,13.1479853 26.4321795,12.828978 26.1279319,12.8056928 C25.8552654,12.7987742 25.6101462,12.9726826 25.5240464,13.2341405 C25.7545371,13.9326965 25.9458443,14.5381118 26.150981,15.148184 C26.3386789,15.7013053 26.2718952,16.3102238 25.9688934,16.8084188 C25.7305913,17.2251698 25.460076,17.6222532 25.1598713,17.995964 C24.995329,18.1663642 24.7975371,18.3003693 24.5790349,18.3894839 C23.2352745,19.0461266 22.043638,19.9356213 20.8658309,20.8321015 C20.9188437,21.1301521 21.1170656,21.1906936 21.3106778,21.241921 C22.0333035,21.4355408 22.7814024,21.5141025 23.5279976,21.474773 C23.8356587,21.4419117 24.1464641,21.4560412 24.4499601,21.5166864 C24.9524297,21.649412 25.0699799,22.0196467 24.7058047,22.3735818 C24.3335154,22.7270137 23.9183999,23.0313687 23.4703749,23.2793761 C22.8664895,23.61934 22.2257256,23.8964339 21.5918763,24.1874989 C21.0495722,24.4529965 20.4923714,24.6862462 19.9231242,24.8860549 C19.5517304,24.9831972 19.1671557,25.0185882 18.7845005,24.9908383 C18.3958314,24.9871676 18.0745075,24.6837883 18.0446256,24.2922823 C17.9058426,23.6483977 18.0953327,22.9770765 18.5494,22.5039789 C18.8596504,22.1776404 18.9707703,21.7072244 18.8398182,21.2745203 C18.732638,20.7720672 18.6556669,20.2635195 18.6093276,19.7516682 C18.583261,19.4115978 18.755063,19.0871912 19.0495647,18.9203865 C19.9581002,18.312376 20.6332197,17.4084728 20.9626369,16.3590144 C21.1009313,15.8933104 21.2599698,15.4462346 21.4074838,14.9875161 C21.6766172,14.1648396 21.5648776,13.2634747 21.1032362,12.533256 C20.7229267,11.8789418 20.370276,11.2059995 19.9692223,10.563328 C19.5681686,9.92065646 19.6188766,9.27565641 20.0568087,8.65394155 C20.4601673,8.08345413 20.911929,7.62939272 21.6379745,7.45708224 C22.3023551,7.28539217 22.8877208,6.88731201 23.2952021,6.33007852 C23.6063644,5.92491603 23.7100852,5.91327343 24.1549321,6.18338176 C25.8236843,7.18930243 27.501656,8.18125198 29.1681033,9.19182968 C29.4943215,9.40860971 29.9128749,9.4238715 30.2537141,9.23141452 C30.4842048,9.11731704 30.7377444,9.04513292 30.945186,8.91007876 C31.5538009,8.55538972 32.2732224,8.44799434 32.9573692,8.60969967 C33.3515082,8.67955527 33.7571717,8.71448307 34.1559205,8.74475383 C34.6699146,8.78433867 35.0917124,8.92404988 35.1816038,9.53179361 C35.1954332,9.62027738 35.3083736,9.69479002 35.3291178,9.71807522 L35.3314227,9.71807522 Z" id="Shape"></path>
                        <path d="M191.041048,19.6465479 C191.098479,18.0525814 190.651885,16.48148 189.765805,15.1602875 C188.738853,13.6008405 187.25263,12.4056369 185.516523,11.7430639 C184.395062,11.3023217 183.207437,11.0571572 182.004455,11.0180584 C181.367316,11.0042836 180.730846,11.0678511 180.108762,11.207391 C177.017959,11.8331124 174.813186,13.5601957 173.737129,16.5918271 C173.350206,17.6770265 173.279232,18.8084046 173.306706,19.9559452 C173.315571,21.209257 173.622564,22.4421194 174.201894,23.5509568 C175.932744,26.8481157 179.291417,28.5267114 183.071355,28.0972495 C184.323568,27.9546217 185.532764,27.5512771 186.622344,26.9127659 C189.397198,25.2965115 190.9861,22.9344712 191.041048,19.6396211 L191.041048,19.6465479 Z M190.782336,25.2387881 C190.468677,25.6197624 190.166465,26.0099724 189.843648,26.3817109 C188.14943,28.3189072 186.082026,29.6350001 183.531541,30.0482994 C180.471795,30.5975929 177.325826,29.7888497 174.900187,27.829413 C172.802307,26.2374226 171.434267,23.8555046 171.108801,21.2281683 C170.371588,15.7513748 173.439496,11.0503835 178.529019,9.49185245 C182.836043,8.1447674 187.520339,9.62357387 190.296966,13.2069286 L190.818968,13.8557393 C190.972363,13.3547005 190.880784,12.9021492 190.8991,12.4703784 C190.915126,11.9924289 190.8991,11.5121704 190.8991,11.0342209 L190.8991,9.61653493 L192.93903,9.61653493 C192.955056,9.88206244 192.98482,10.1314274 192.98482,10.3807924 C192.98482,16.3609336 192.98482,22.3410749 192.996267,28.3212162 C193.027936,29.6046259 192.857936,30.8850002 192.492581,32.1147961 C191.425681,35.4673695 189.156803,37.575427 185.814156,38.4782206 C182.011324,39.5056966 178.34357,38.9700237 174.824634,37.2729566 C174.023314,36.8873645 173.276943,36.3817077 172.509965,35.9245386 C172.354281,35.8321812 172.219201,35.7121166 172.026884,35.5689627 L173.238021,33.8626598 C173.412022,33.9804155 173.576865,34.0935533 173.73255,34.1974554 C175.606018,35.5800553 177.783506,36.4847517 180.078999,36.834259 C182.006745,37.1228758 183.9322,37.0928597 185.791261,36.4163417 C188.437905,35.4535159 190.049701,33.5532625 190.660994,30.7917764 C190.86025,29.9334764 190.943426,29.0519314 190.908258,28.1711354 C190.869337,27.3814797 190.908258,26.589515 190.908258,25.7975504 L190.908258,25.2641864 L190.789205,25.2410971 L190.782336,25.2387881 Z" id="Shape"></path>
                        <path d="M60.8793297,30 L59.0578611,30 C59.0285149,29.8011997 59.0092032,29.6010354 59,29.4002748 C59,22.9148739 59,16.4302479 59,9.94639677 C59,9.81854837 59.0162011,9.69069997 59.0277733,9.5256593 L60.8932164,9.5256593 L60.8932164,13.0310301 C61.0714287,12.8636649 61.1616921,12.7985784 61.2334399,12.7079223 C61.7842779,12.0617067 62.2749403,11.3550537 62.8905828,10.7808982 C64.2329612,9.5256593 65.8808463,9.0165902 67.697686,9.01426568 C70.7365529,9.01426568 72.9861939,10.3508626 74.4581812,13.0147585 C74.5206712,13.1263352 74.5970479,13.228614 74.7011979,13.3913301 C74.8400647,13.1937462 74.9581014,13.0356791 75.0645659,12.8706384 C76.3027942,10.9854556 77.9483649,9.64653415 80.1887481,9.21184958 C82.6513181,8.7329992 84.9981657,9.01194117 87.0487644,10.6065594 C88.4374317,11.6967576 89.2405442,13.1797991 89.6594589,14.8766961 C89.8925989,15.8470168 90.0068529,16.8423069 89.9996824,17.8404546 C89.9996824,21.6573105 89.9996824,25.4741665 89.9996824,29.2910225 L89.9996824,29.9883774 L88.0810071,29.9883774 C88.0810071,29.7721974 88.0601771,29.5560174 88.0601771,29.3421619 C88.0601771,25.5268556 88.0601771,21.7099996 88.0601771,17.8915939 C88.0619502,16.9494634 87.9381862,16.0113312 87.6921802,15.1021742 C86.9978466,12.5847229 85.2342392,11.0784363 82.6466892,10.825064 C79.1981654,10.4880091 76.3027942,12.6684055 75.6362339,16.2504853 C75.507183,17.0183697 75.4467668,17.7963072 75.4557071,18.5750018 C75.4371916,22.1315119 75.4557071,25.688022 75.4557071,29.2468567 C75.4557071,29.4793083 75.4325627,29.71176 75.4209905,29.995351 L73.5694341,29.995351 C73.5509185,29.7443032 73.5138874,29.4955799 73.5138874,29.2468567 C73.5138874,25.5973659 73.5138874,21.9478751 73.5138874,18.2960598 C73.5100076,17.4846874 73.4574516,16.6742871 73.3565051,15.8692646 C73.2394407,15.0765191 72.9689629,14.3144643 72.5603359,13.6261063 C71.2688753,11.324835 68.8849965,10.5484465 66.74182,10.8552827 C63.9783722,11.252775 62.2749403,12.9473475 61.3514766,15.5043156 C61.0419411,16.3952695 60.8907446,17.3339342 60.9047886,18.2774637 C60.9047886,22.0571274 60.9047886,25.8367911 60.9047886,29.6164548 C60.9047886,29.7257071 60.8885875,29.8326348 60.8747008,29.9976755 L60.8793297,30 Z" id="Shape"></path>
                        <path d="M232.004684,9.10091641 L234.194379,9.10091641 L240.40281,27.1719937 L240.543326,27.1719937 C242.63466,21.126397 244.672131,15.062025 246.763466,9 L248.302108,9 C248.398126,9.24877068 248.517564,9.51866339 248.611241,9.79559678 C250.519126,15.3905901 252.425449,20.987148 254.330211,26.5852705 C254.400468,26.7894502 254.496487,26.9842423 254.63466,27.3175011 L260.892272,9.1032633 L263,9.1032633 L255.419204,29.9906124 L253.716628,29.9906124 L247.594848,12.3889137 L247.454333,12.3889137 C246.393443,15.303755 245.400468,18.2444122 244.367681,21.168641 C243.334895,24.0928699 242.318501,27.0358739 241.288056,30 L239.576112,30 L232,9.11265087 L232.004684,9.10091641 Z" id="Shape"></path>
                        <path d="M139.886772,19.5487964 C139.927188,17.8982697 139.484092,16.271124 138.610294,14.8612965 C136.767005,11.9454858 134.08502,10.5566808 130.566642,10.8534727 C128.373937,11.0183639 126.359373,12.1028964 125.036776,13.8304543 C123.506846,15.7403443 122.937731,17.9402295 123.158926,20.3598766 C123.290311,21.9280919 123.8377,23.4349984 124.746458,24.7301943 C126.094676,26.6587441 128.226133,27.9187757 130.590707,28.1850777 C132.95528,28.4513798 135.321285,27.6978597 137.07806,26.1189992 C139.02273,24.3563724 139.842993,22.1066443 139.882163,19.5487964 L139.886772,19.5487964 Z M141.999641,19.4649696 C142.021209,22.0557066 141.069459,24.5631045 139.326873,26.5064146 C137.560266,28.5565258 135.017973,29.8072377 132.290117,29.9682318 C129.064362,30.1947906 126.299429,29.2115257 124.020663,26.9550009 C122.447154,25.3875988 121.43605,23.3586367 121.140524,21.175488 C120.795483,19.1127294 121.089309,16.9956127 121.983829,15.0991831 C123.564449,11.7800979 126.177311,9.72067915 129.884626,9.14522001 C133.172592,8.6331973 136.105725,9.47373015 138.580341,11.6894744 C140.306415,13.2344985 141.444413,15.3125878 141.806096,17.5800011 C141.914389,18.1985064 141.935126,18.8306052 141.997337,19.4559073 L141.999641,19.4649696 Z" id="Shape"></path>
                        <path d="M218.575937,29.1534663 C218.783732,29.1416114 219.037703,29.1368694 219.298601,29.1107884 C219.554226,29.0890327 219.808552,29.0534181 220.060516,29.0040936 C222.893452,28.4137156 224.909062,26.7421634 226.093493,24.0534539 C226.990762,22.0267598 227.174396,19.7428683 226.61298,17.5924896 C226.216131,15.8922269 225.336153,14.3514465 224.084809,13.16584 C222.50529,11.6298579 220.389452,10.8127053 218.215759,10.8991678 C216.945112,10.9078937 215.696431,11.2402818 214.581658,11.8665342 C211.471661,13.6542652 210.151009,16.5255414 210.072509,20.0606965 C210.060108,21.2510075 210.279105,22.4318957 210.716673,23.5342057 C211.965751,26.7848413 214.856409,29.1013044 218.566701,29.1534663 L218.575937,29.1534663 Z M218.497436,9 C222.884217,9.16122773 226.031155,11.1860583 227.963647,15.1645897 C228.547348,16.4062927 228.885569,17.754502 228.958753,19.1312661 C229.208636,22.0399298 228.315827,24.9304738 226.479068,27.1594587 C224.753636,29.374635 222.206156,30.7497046 219.450984,30.9530523 C215.936942,31.2565398 212.942387,30.0923808 210.596614,27.3515093 C209.209131,25.7410544 208.33776,23.731201 208.100767,21.594731 C207.655162,17.8959771 208.684901,14.6927615 211.240778,12.0514719 C212.751177,10.4818981 214.724476,9.46910052 216.853548,9.17071171 C217.412285,9.08535586 217.980258,9.0569039 218.495128,9.00711299 L218.497436,9 Z" id="Shape"></path>
                        <path d="M113.894257,19.6085871 C113.841268,19.0348967 113.827444,18.4566712 113.730681,17.892051 C113.418453,15.8500667 112.352069,13.9931351 110.735642,12.6766837 C108.613771,10.932937 106.162446,10.4091327 103.483038,10.9941609 C101.963085,11.3103572 100.582065,12.0875221 99.5341931,13.2163609 C97.2671785,15.6517106 96.6497395,18.5473733 97.3708529,21.7106069 C98.3500005,25.9849405 102.439382,28.7899011 106.752239,28.1345789 C108.715852,27.8689817 110.508291,26.8922972 111.779298,25.3953773 C113.212309,23.7332624 113.86661,21.7877036 113.894257,19.6131222 L113.894257,19.6085871 Z M116,19.381832 C115.820298,23.5813365 114.067047,26.7559079 110.408491,28.7967038 C109.086453,29.5090458 107.615333,29.9117642 106.109457,29.9735627 C100.933936,30.3398653 96.2885948,26.8624687 95.2651096,21.8557302 C94.5025264,18.1981704 95.3779996,14.9170241 97.9836841,12.1574146 C99.5352768,10.4909581 101.634393,9.4165962 103.911559,9.12343133 C106.92503,8.70166684 109.671251,9.35018643 112.058067,11.2322538 C113.9989,12.7587815 115.313776,14.924279 115.760397,17.3296984 C115.903237,18.0303716 115.930884,18.7514529 115.990784,19.3704943 L116,19.381832 Z" id="Shape"></path>
                        <path d="M165.990156,30 L164.045922,30 C164.023478,29.8736776 164.0084,29.7462052 164.000762,29.6182027 C164.000762,25.6605477 163.986501,21.714533 164.000762,17.7638621 C164.000762,16.2878896 163.734559,14.8933982 162.954964,13.6222926 C162.120629,12.2233124 160.705171,11.2500227 159.078378,10.9566956 C157.072347,10.5446339 155.15901,10.770453 153.402544,11.8413479 C151.36799,13.0798611 150.298424,14.9236627 150.058365,17.2353988 C149.979931,18.0059775 149.963293,18.7858683 149.960916,19.5634311 C149.960916,22.8087081 149.960916,26.0563132 149.960916,29.3015903 L149.960916,30 L148.128392,30 C147.992913,29.569314 147.947754,10.2513018 148.076102,9.51331554 L149.934771,9.51331554 L149.934771,13.0984853 L150.067873,13.1520301 C150.170076,13.0170042 150.279409,12.8843063 150.374482,12.7446244 C151.062354,11.6949937 151.98074,10.808978 153.06266,10.1511964 C154.462604,9.32474493 155.995649,9.01278859 157.609507,9.00347646 C159.18748,8.95940125 160.748139,9.33512184 162.125455,10.0906676 C164.107719,11.2174352 165.239083,12.9564754 165.757229,15.1075772 C165.942032,15.9769505 166.021807,16.8645955 165.99491,17.7522219 C165.975896,21.5911472 165.99491,25.4347286 165.99491,29.2713259 L165.99491,30 L165.990156,30 Z" id="Shape"></path>
                        <path d="M200.051157,1.00229303 L202,1.00229303 L202,30 L200.124239,30 L200.070646,29.9495533 L200.036541,29.9082786 C200.016989,29.8005872 200.004784,29.6918277 200,29.5826678 C200,20.1200812 200,10.6574945 200,1.19490788 C200.010999,1.12819564 200.029789,1.06283037 200.056029,1 L200.051157,1.00229303 Z" id="Shape"></path>
                        <path d="M35.5526596,3 C35.8161064,3.22015908 36.0754045,3.39935833 36.3015124,3.62975736 C37.1125967,4.4566339 37.9174578,5.29887038 38.7202445,6.14366684 C38.8799721,6.31262614 39.0583692,6.49182539 38.9816169,6.86046384 C38.6082278,6.92958355 38.3593016,7.26238216 38.1518632,7.64894054 C37.9948035,7.95608814 37.682411,8.08100598 37.4092336,7.9458993 C37.3131728,7.91556265 37.215402,7.89416928 37.1167454,7.88189957 C35.9094537,7.61310069 35.2912872,6.62750482 35.0216172,5.22975067 C34.9199724,4.71775281 35.1896424,3.5964775 35.5609572,3.00255999 L35.5526596,3 Z" id="Shape"></path>
                        <path d="M193.532468,48.0188985 C194.223377,48.0188985 194.805195,48.0378454 195.379221,48.0188985 C195.901804,48.0180219 196.329888,47.6822191 196.348052,47.2589169 C196.379221,46.793665 196.135065,46.4947249 195.506494,46.4315685 C194.862344,46.3964224 194.216193,46.3922046 193.571429,46.4189372 C193.558442,46.5747229 193.535065,46.7220878 193.532468,46.8694526 C193.532468,47.2336544 193.532468,47.5999613 193.532468,48.0252142 L193.532468,48.0188985 Z M193.532468,48.4546775 L193.532468,49.9620094 L193,49.9620094 L193,46.0884189 L193.096104,46.0252625 C193.922078,46.0252625 194.753247,45.9684218 195.571429,46.0252625 C196.037369,46.0388886 196.463961,46.2406505 196.707823,46.5627334 C196.951684,46.8848163 196.980437,47.2844563 196.784416,47.627329 C196.627116,47.837971 196.42067,48.0217438 196.176623,48.1683686 C196.002134,48.2616623 195.814696,48.3379756 195.618182,48.3957315 L196.311688,49.1725548 L197,49.9451677 C196.852859,50.0062318 196.6816,50.0167648 196.524776,49.9743958 C196.367952,49.9320267 196.238742,49.8403163 196.166234,49.71991 C195.906494,49.3999177 195.587013,49.1072932 195.322078,48.7894062 C195.158394,48.5501582 194.830689,48.4165194 194.496104,48.4525722 C194.212987,48.4736244 193.924675,48.4525722 193.537662,48.4525722 L193.532468,48.4546775 Z" id="Shape"></path>
                        <path d="M161.475848,49.6384656 L163.938031,49.6384656 C164.044988,49.8696795 164.012246,49.9978981 163.789602,50 C162.872831,50 161.953878,50 161,50 L161,46.0273253 C161.200816,46.0273253 161.368891,46.0021019 161.539148,46 L163.67828,46 C163.896558,46 164.079912,46.0210194 163.964225,46.3657383 L161.471482,46.3657383 L161.471482,47.774041 L163.680462,47.774041 C163.693559,47.9379926 163.700107,48.0304782 163.711021,48.1755123 L161.475848,48.1755123 C161.411237,48.6597719 161.411237,49.1500022 161.475848,49.6342617 L161.475848,49.6384656 Z" id="Shape"></path>
                        <path d="M128.683659,47.7931034 L128.683659,48.2175066 L126.475776,48.2175066 L126.475776,49.5798408 C126.880952,49.732626 127.296961,49.6413793 127.699971,49.6562334 C128.10298,49.6710875 128.523323,49.6562334 128.973999,49.6562334 C128.973999,49.7835544 128.991333,49.868435 129,50 L126.113935,50 C125.986098,49.6286472 125.955764,46.668435 126.074934,46.0551724 C126.131143,46.0285181 126.190982,46.0099363 126.252604,46 C127.045622,46 127.840807,46 128.635992,46 C128.86783,46 129.010834,46.0615385 128.908998,46.3777188 L126.477943,46.3777188 L126.477943,47.7888594 C126.852785,47.7888594 127.208126,47.8037135 127.561301,47.8058355 C127.914475,47.8079576 128.28065,47.8058355 128.681493,47.8058355 L128.683659,47.7931034 Z" id="Shape"></path>
                        <path d="M209,46.0651777 C209.121597,45.9995603 209.268093,45.9836341 209.403331,46.0213303 C209.538569,46.0590265 209.649948,46.146833 209.709977,46.2630767 C210.006961,46.6841385 210.327146,47.1052003 210.638051,47.5157355 C210.740139,47.6525806 210.851508,47.7831098 210.99768,47.9683769 C211.12529,47.8336372 211.229698,47.736793 211.327146,47.6231063 C211.675174,47.1683596 212.023202,46.7157182 212.354988,46.2504449 C212.471834,46.0335034 212.757632,45.9402192 213,46.039914 C212.942497,46.1538776 212.878211,46.264921 212.807425,46.3725528 C212.382831,46.9409862 211.960557,47.5115249 211.515081,48.0567999 C211.348338,48.2572176 211.266047,48.5051215 211.283063,48.7557625 C211.296984,49.1389287 211.283063,49.5242002 211.283063,49.9431567 L210.851508,50 C210.822997,49.9471729 210.801949,49.8912914 210.788863,49.8336806 C210.772504,49.7000536 210.772504,49.5651936 210.788863,49.4315666 C210.916473,48.6820766 210.62413,48.0694318 210.116009,47.4946824 C209.716937,47.042041 209.38051,46.5430828 209.009281,46.0546512 L209,46.0651777 Z" id="Shape"></path>
                        <path d="M177.512719,49.6292103 L180,49.6292103 L180,50 L177,50 L177,46.0134752 C177.424483,45.9813258 177.443561,45.9813258 177.448331,46.3113929 C177.460254,47.1815698 177.448331,48.0496034 177.448331,48.9197804 C177.448331,49.1341097 177.476948,49.3484389 177.496025,49.6292103 L177.512719,49.6292103 Z" id="Shape"></path>
                        <path d="M262.883723,30.0000292 L262.767445,30.0000292 C262.767445,30.9761461 261.976146,31.7674453 261.000029,31.7674453 C260.023912,31.7674453 259.232613,30.9761461 259.232613,30.0000292 C259.232613,29.0239123 260.023912,28.2326132 261.000029,28.2326132 C261.975615,28.2338943 262.766164,29.0244435 262.767445,30.0000292 L263,30.0000292 C263,29.1911166 262.512723,28.4618546 261.765385,28.1522972 C261.018047,27.8427397 260.157824,28.0138487 259.585836,28.5858363 C259.013849,29.157824 258.84274,30.0180471 259.152297,30.7653849 C259.461855,31.5127228 260.191117,32 261.000029,32 C262.104583,32 263,31.1045826 263,30.0000292 L262.883723,30.0000292 Z" id="Shape" fill-rule="nonzero"></path>
                        <path d="M260.165354,30.1638525 L260.165354,30.9933639 L260,30.9933639 L260,29.0025366 L260.390551,29.0025366 C260.526812,28.9877912 260.662659,29.037637 260.776378,29.1441066 C260.863101,29.2493596 260.909242,29.4060557 260.900787,29.5666044 C260.907553,29.817864 260.787905,30.0413309 260.614173,30.1019157 L261,31 L260.804724,31 L260.461417,30.1704886 L260.165354,30.1638525 Z M260.165354,29.9647698 L260.390551,29.9647698 C260.48161,29.9758772 260.572533,29.9414024 260.647244,29.8674405 C260.70465,29.7925892 260.734771,29.6851887 260.729134,29.5754525 C260.736398,29.4668465 260.705193,29.3601635 260.645669,29.2901006 C260.565629,29.2225711 260.472626,29.1916515 260.379528,29.2016194 L260.165354,29.2016194 L260.165354,29.9647698 Z" id="Shape" fill-rule="nonzero"></path>
                    </g>
                </g>
            </g>
          </svg> 
        {% endif %}
      </a>
    </div>
  </div>
</section>

<div id="moon-phase" class="modal">
  <a class="close">Back to Calculator <img src="{{'close_ico.png' | asset_url}}" alt="close button"></a>
  <span class="back" page-target="" ><img src="{{'arrow_left.svg' | asset_url}}" alt="arrow left"> Back </span>
  <div class="modal-body">
    <div class="field start">
      <h3 class="text-center">what moment do you want to remember?</h2>
        <h4 class="mark text-center uppercase">select your date to find your moon phase</p>
        <img src="{{'moon_list_illu.svg' | asset_url}}" class="moon-phase-image" alt="select your date to find your moon phase" >
        <div class="select box">
          <button class="button grey start-btn">get start</button>
        </div>
    </div>
    <div class="field calendars">
      <div class="calendar">
        <div class="date-header">
            <img src="{{'moon_ico.svg' | asset_url }}" alt="moon icon">
            <p><a class="date">Date</a> / <a class="month">Month</a> / <a class="year">Year</a></p>
        </div>
       
        <div class="content">
          <div class="content-field year-field">
            <p class="mark uppercase">select a year</p>
            <ul>
              <li>1919</li>
              <li>1920</li><li>1921</li><li>1922</li><li>1923</li><li>1924</li><li>1925</li><li>1926</li><li>1927</li><li>1928</li><li>1929</li>
              <li>1930</li><li>1931</li><li>1932</li><li>1933</li><li>1934</li><li>1935</li><li>1936</li><li>1937</li><li>1938</li><li>1939</li>
              <li>1940</li><li>1941</li><li>1942</li><li>1943</li><li>1944</li><li>1945</li><li>1946</li><li>1947</li><li>1948</li><li>1949</li>
              <li>1950</li><li>1951</li><li>1952</li><li>1953</li><li>1954</li><li>1955</li><li>1956</li><li>1957</li><li>1958</li><li>1959</li>
              <li>1960</li><li>1961</li><li>1962</li><li>1963</li><li>1964</li><li>1965</li><li>1966</li><li>1967</li><li>1968</li><li>1969</li>
              <li>1970</li><li>1971</li><li>1972</li><li>1973</li><li>1974</li>
              <li>1975</li><li>1976</li><li>1977</li><li>1978</li><li>1979</li><li>1980</li><li>1981</li><li>1982</li><li>1983</li><li>1984</li>
              <li>1985</li><li>1986</li><li>1987</li><li>1988</li><li>1989</li><li>1990</li><li>1991</li><li>1992</li><li>1993</li><li>1994</li>
              <li>1995</li><li>1996</li><li>1997</li><li>1998</li><li>1999</li><li>2000</li><li>2001</li><li>2002</li><li>2003</li><li>2004</li>
              <li>2005</li><li>2006</li><li>2007</li><li>2008</li><li>2009</li><li>2010</li><li>2011</li><li>2012</li><li>2013</li><li>2014</li>
              <li>2015</li><li>2016</li><li>2017</li><li>2018</li><li>2019</li><li>2020</li><li>2021</li><li>2022</li><li>2023</li><li>2024</li>
              <li>2025</li><li>2026</li><li>2027</li><li>2028</li><li>2029</li><li>2030</li>
            </ul>
          </div>
          <div class="content-field month-field">
            <p class="title uppercase">select a month</p>
            <ul>
              <li>January</li><li>February</li><li>March</li><li>April</li><li>May</li><li>June</li><li>July</li><li>August</li><li>September</li><li>October</li>
              <li>November</li><li>December</li>
            </ul>
          </div>
          <div class="content-field date-field">
            <p class="title uppercase">select a date</p>
            <ul>
              <li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li><li>8</li><li>9</li><li>10</li>
              <li>11</li><li>12</li><li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li><li>19</li><li>20</li>
              <li>21</li><li>22</li><li>23</li><li>24</li><li>25</li><li>26</li><li>27</li><li>28</li><li>29</li><li>30</li>
              <li>31</li>
            </ul>
          </div>
          <div class="content-field  save-field">
            <div class="grid">
              <div class="grid__item one-third small--one-whole content-img">
                <img src="{{'PL.png' | asset_url }}" class="modal_moon_phase_img" alt="PL">
                <div class="moon-icon">
                  <img src="{{'PL.svg' | asset_url }}" alt="PL">
                </div>
                
              </div>
              <div class="grid_item two-thirds small--one-whole content-info">
                <p class="mark">Unique Waxing Gibbous Qualities</p>
                <p>The Waxing Gibbous is the last phase before the Moon reaches maximum illumination.
                   It appears close to full, but is not completely illuminated. Kind, caring and nurturing are characteristics
                   of those born under this moon, making them amazing mentors.
                   Relationships under this moon are very intense as emotions are amplified which create incredibly strong bonds.
                  This is a time of communication, a time to share personal stories and love between friends and family members.</p>
              </div>
            </div>
            <div class="grid content-pannel" style="width: 100%; margin-top: 50px;">
              <h3 class="capitalize brand text-center">Your moon phase code : <strong class="uppercase brand moon-code"></strong></h3>
            </div>
          </div>
          <div class="alert-message animated alert-danger bounceIn bounceOut modal_alert">Please select Correct date.</div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<script>
  var moon_phase_array = [];
  {% for moon_item in section.blocks %}
    {% if moon_item.type == 'moon_image_text' %}
      var moon_item = {
        id: "{{ moon_item.settings.moon_phase_id }}",
        content: {
          image: "{{ moon_item.settings.moon_phase_image | img_url: '300x' }}",
          title: "{{ moon_item.settings.moon_phase_title }}",
          desc : "{{ moon_item.settings.moon_phase_discripiton | strip_html  }}"
        }
      };
      moon_phase_array.push(moon_item);
    {% endif %}
  {% endfor %}

</script>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "text",
        "id": "shipping_rage",
        "label": "Shipping range"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "image_picker",
        "id": "first_banner",
        "label": "First banner image"
      },
      {
        "type": "url",
        "id": "first_banner_url",
        "label": "First banner link"
      },
      {
        "type": "image_picker",
        "id": "second_banner",
        "label": "Second banner image"
      },
      {
        "type": "url",
        "id": "second_banner_url",
        "label": "Second banner link"
      },
      {
        "type": "product",
        "id": "related_product",
        "label": "Related product"
      }
    ],
    "blocks":[
      {
        "type": "empty_cart",
        "name": "empty cart",
        "settings": [
          {
            "type": "header",
            "content": "Best seller"
          },
          {
            "type": "url",
            "id": "best_seller_url",
            "label": "Best seller url"
          },
          {
            "type": "header",
            "content": "banner"
          },
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner Image"
          },
          {
            "type": "text",
            "id": "banner_title",
            "label": "Banner title"
          },
          {
            "type": "url",
            "id": "banner_url",
            "label": "Banner url"
          }
        ]
      },
      {
        "type": "moon_image_text",
        "name": "moon phase",
        "settings": [
          {
            "type": "text",
            "id": "moon_phase_id",
            "label": "ID"
          },
          {
            "type": "image_picker",
            "id": "moon_phase_image",
            "label": "Moon image"
          },
          {
            "type": "text",
            "id": "moon_phase_title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "moon_phase_discripiton",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
