{% assign current_store = blank %}
{% include 'store-check' %}
<section data-section-id="{{ section.id }}" data-section-type="header" class="fluid-display">
  {% if section.settings.topbar_enable %}
    {% if section.settings.topbar_type == 'theme' %}
    <div class="grid header-title">
      <div class="text-center grid__item">{{ section.settings.promotion_bar_text }}</div>
      <div class="grid__item account-button">
        {% if customer %}
          <a href="/account">{% if page.handle != 'wholesale' and section.settings.account_text != blank %}<span class="alert alert-left">{{section.settings.account_text}}</span>{% endif %}{{section.settings.account_icon}}</a>
        {% else %}
          <a href="/account/register">{% if page.handle != 'wholesale' and section.settings.account_text != blank  %}<span class="alert alert-left">{{section.settings.account_text}}</span>{% endif %}{{section.settings.account_icon}}</a>
        {% endif %}
      </div>
    </div>
    {% else %}
    <div id="qab_placeholder"></div>
    {% endif %}
  {% endif %}
  <div class="header-menu grid border_color__dark_grey">
    {% include 'side_menu' %}

    {% include 'navigation' %}

    <div class="grid__item mark">
      <a href="/" class="logo-image">
        {% if section.settings.logo != blank %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img src="{{ section.settings.logo | img_url: image_size }}"
              srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              alt="{{ section.settings.logo.alt | default: shop.name }}">
        {% else %}
         {{ section.settings.logo_svg }}
        {% endif %}
      </a>
    </div>
    {% if settings.cart_action == 'ajax' %}
      {% include 'mini-cart' %}
    {% endif %}
  </div>
</section>

{% include 'moon_phase' %}
 
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Top bar"
      },
      {
        "type": "checkbox",
        "id": "topbar_enable",
        "label": "Enable",
        "default": true
      },
      {
        "type": "select",
        "id": "topbar_type",
        "label": "Type",
        "info":"If you choose app tobar then above settings won't work",
        "options": [
          {
            "value": "theme",
            "label": "Theme"
          },
          {
            "value": "app",
            "label": "App"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "promotion_bar_text",
        "label": "Top bar text",
        "default": "<p>Announce something here</p>"
      },
      {
        "type": "text",
        "id": "account_text",
        "label": "Account text"
      },
      {
        "type": "html",
        "id": "account_icon",
        "label": "Account icon"
      },
      {
        "type": "header",
        "content": "header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image",
        "info": "Please use this option when the SVG field is empty."
      },
      {
        "type": "html",
        "id": "logo_svg",
        "label": "Logo SVG"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "mini cart"
      },
      {
        "type": "text",
        "id": "shipping_rage",
        "label": "Shipping range"
      },
      {
        "type": "image_picker",
        "id": "first_banner",
        "label": "First banner image"
      },
      {
        "type": "text",
        "id": "first_banner_title",
        "label": "First banner title",
        "default": "Gifts Under $100"
      },
      {
        "type": "url",
        "id": "first_banner_url",
        "label": "First banner link"
      },
      {
        "type": "image_picker",
        "id": "second_banner",
        "label": "Second banner image"
      },
      {
        "type": "text",
        "id": "second_banner_title",
        "label": "Second banner title",
        "default": "Best Sellers"
      },
      {
        "type": "url",
        "id": "second_banner_url",
        "label": "Second banner link"
      },
      {
        "type": "product",
        "id": "related_product",
        "label": "Related product"
      },
      {
        "type": "header",
        "content": "Moon phase modal"
      },
      {
        "type": "text",
        "id": "heading_title",
        "label": "Heading title"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading text"
      },
      {
        "type": "text",
        "id": "moon_phase_start_button",
        "label": "Start button",
        "default": "get start"
      },
      {
        "type": "text",
        "id": "save_button",
        "label": "Save date button",
        "default": "Save this date"
      },
      {
        "type": "text",
        "id": "select_button",
        "label": "select moon button",
        "default": "Select moon phase"
      },
      {
        "type": "text",
        "id": "shop_button",
        "label": "Shop button",
        "default": "Shop Using My Moon Phase"
      },
      {
        "type": "header",
        "content" : "Side menu"
      },
      {
        "type": "text",
        "id": "reward_label",
        "label": "Reward label"
      },
      {
        "type": "html",
        "id": "reward_icon",
        "label": "Reward Icon"
      },
      {
        "type": "text",
        "id": "login_label",
        "label": "Login label"
      },
      {
        "type": "html",
        "id": "login_icon",
        "label": "Login Icon"
      },
      {
        "type": "text",
        "id": "register_label",
        "label": "Register label"
      },
      {
        "type": "html",
        "id": "register_icon",
        "label": "Register Icon"
      },
      {
        "type": "text",
        "id": "about_us_label",
        "label": "About us label"
      },
      {
        "type": "image_picker",
        "id": "about_us_icon",
        "label": "About us Icon"
      },
      {
        "type": "text",
        "id": "find_moon_label_normal",
        "label": "Find moon label (normal)",
        "default": "Find your moon phase"
      },
      {
        "type": "text",
        "id": "find_moon_label_mobile",
        "label": "Find moon label (mobile)",
        "default": "Find moon"
      }
    ],
    "blocks":[
      {
        "type": "empty_cart",
        "name": "empty cart",
        "settings": [
          {
            "type": "header",
            "content": "Best seller"
          },
          {
            "type": "url",
            "id": "best_seller_url",
            "label": "Best seller url"
          },
          {
            "type": "header",
            "content": "banner"
          },
          {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner Image"
          },
          {
            "type": "text",
            "id": "banner_title",
            "label": "Banner title"
          },
          {
            "type": "url",
            "id": "banner_url",
            "label": "Banner url"
          }
        ]
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
