<section id="mainSlider" class="fluid-display">
  <div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">
    {% for item in section.blocks%}
    <div id="{{item.id | prepend : "block-"}}" class="item" aria-label="{{ item.settings.caption_title | strip_html }}">
      {% if item.settings.mobile_banner_image != blank %}
      {% assign mobile_image = item.settings.mobile_banner_image %}
    {% else %}
      {% assign mobile_image = item.settings.bg_image %}
    {% endif %}
    <style>
      {{item.id | prepend : "block-" | prepend : "#"}}{
        background-image: url({{ item.settings.bg_image | img_url: "2048x" }})!important;
      }
      @media screen and (max-width: 786px) {

        {{item.id | prepend : "block-" | prepend : "#"}}{
          background-image: url({{ mobile_image | img_url: 'original' }})!important;
        }
      }
      {{item.id | prepend : "block-" | prepend : "#"}} h1, {{item.id | prepend : "block-" | prepend : "#"}} p {
        color: {{ item.settings.title_color }}!important;
      }
    </style>
      <div class="container">
        <div class="caption vertical-center {{ item.settings.title_position }}">
          <img class="" src="{{ item.settings.title_icon | img_url: 'large' }}" alt="{{ item.settings.caption_heading }}">
          {% if item.settings.caption_heading != blank %}
          <h1 class="mark">{{ item.settings.caption_heading }}</h1>
          {% endif %}
          {% if item.settings.caption_title != blank %}
          <h2 class="mark">{{ item.settings.caption_title }}</h2>
          {% endif %}
          <div class="">
            {% if item.settings.button_label != blank %}
            <a href="{{ item.settings.banner_link }}" class="button grey">{{item.settings.button_label}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Homepage slideshow",
    "max_blocks": 12,
    "blocks": [
      {
        "type": "collection",
        "name": "banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "banner image"
          },
          {
            "type": "image_picker",
            "id": "mobile_banner_image",
            "label": "Mobile banner image"
          },
          {
            "type": "image_picker",
            "id": "title_icon",
            "label": "Title icon"
          },
          {
            "type": "text",
            "id": "caption_heading",
            "label": "Caption heading",
            "default": "Your headline"
          },
          {
            "type": "richtext",
            "id": "caption_title",
            "label": "Caption title"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Title color",
            "default": "#FFFFFF"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "banner_link",
            "label": "Banner link"
          },
          {
            "type": "select",
            "id": "title_position",
            "label": "Title position",
            "options": [
                {
                    "value": "center",
                    "label": "center"
                },
                {
                    "value": "left",
                    "label": "left"
                },
                {
                    "value": "right",
                    "label": "right"
                }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "homepage slideshow",
        "category": "Banner",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
