

<section class="fluid-display login">
    <div class="grid">
    <div class="grid__item one-half small--one-whole banner" style="background: url( {{ section.settings.banner | img_url : 'original' }} ) no-repeat 50% 50% / cover;">

    </div>
    <div class="grid__item one-half small--one-whole pannel">
        <div class="content">
            <div class="form-success hide" data-reset-success>
                {{ 'customer.recover_password.success' | t }}
            </div>

            <div data-login-form>
            {% form 'customer_login' %}
                <h3 class="medium-down--text-center">{{ 'customer.login.title' | t }}</h3>
                <div class="devider left"></div>

                {{ form.errors | default_errors }}

                <label for="CustomerEmail" class="mark">
                {{ 'customer.login.email' | t }}
                </label>
                <input type="email"
                        name="customer[email]"
                        id="CustomerEmail"
                        class="{% if form.errors contains 'email' %}input-error{% endif %}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off"
                        autofocus>

                {% if form.password_needed %}
                <label for="CustomerPassword" class="mark">
                    {{ 'customer.login.password' | t }}
                </label>
                <input type="password"
                        name="customer[password]"
                        id="CustomerPassword"
                        class="{% if form.errors contains 'password' %}input-error{% endif %}">
                {% endif %}
                {% if form.password_needed %}
                <a href="#recover" data-recover-toggle>{{ 'customer.login.forgot_password' | t }}</a>
                {% endif %}
                <input type="hidden" class="return_url" name="checkout_url" value="">
                <input type="submit" class="button btn" value="{{ 'customer.login.sign_in' | t }}">

                <a href="/">{{ 'customer.login.cancel' | t }}</a>

                <a href="/account/register" class="right"> {{ 'customer.login.sign_up' | t }} </a>

            {% endform %}

            </div>

            <div class="hide" data-recover-form>
            <h3>{{ 'customer.recover_password.title' | t }}</h3>
            <div class="devider left"></div>
            <p style="margin-bottom: 20px; float: left;">{{ 'customer.recover_password.subtext' | t }}</p>

            {% form 'recover_customer_password' %}
                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                <span class="hide" data-form-state></span>
                {% endif %}

                <label for="RecoverEmail" class="label-hidden">
                {{ 'customer.recover_password.email' | t }}
                </label>
                <input type="email"
                        name="email"
                        id="RecoverEmail"
                        placeholder="{{ 'customer.recover_password.email' | t }}"
                        spellcheck="false"
                        autocomplete="off"
                        autocapitalize="off">

                <input type="submit" class="button btn" value="{{ 'customer.recover_password.submit' | t }}">

                <a data-recover-toggle>
                {{ 'customer.recover_password.cancel' | t }}
                </a>
            {% endform %}

            </div>

            {% if shop.checkout.guest_login %}
                {% form 'guest_login' %}
                    <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
                {% endform %}
            {% endif %}
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Login",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner",
            "label": "Banner image"
        }
    ]
}
{% endschema %}
