{% assign current_store = blank %}
{% include 'store-check' %}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% for tag in product.tags %}
{% if tag contains "moon_" %}
{% assign flag = true %}
{% assign count = tag | remove: 'moon_' | plus: 0 %}
{% endif %}
{% endfor %}
<section data-section-id="{{ section.id }}" data-section-type="product" class="fluid-display product-template">
  <div class="title medium-up--hide">
    <h3>{{ product.title }}</h3>
    {% unless product.tags contains 'hidden' %}
        <div class="prod-price">
          <h4 tabindex="0">
            {% assign geolizr_price =  product.price  %}
            {% include 'geolizr-currency' with geolizr_price %}
            {{ product.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
          </h4>
          {% if product.compare_at_price_max > product.price %}
          <h4><del tabindex="0">
            {% assign geolizr_price =  product.compare_at_price_max  %}
            {% include 'geolizr-currency' with geolizr_price %}
            {{ product.compare_at_price_max | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
          </del></h4>
          {% endif %}
        </div>
    {% endunless %}
    {% if product.tags contains 'get 1 free' %}
      <span class="tag">Buy one <strong>Get 1 FREE</strong></span>
    {% endif %}
    <div class="review-sec">
      <div class="yotpo bottomLine" data-product-id="{{ product.id }}" tabindex="0">
      </div>
    </div>
    {% include 'afterpay' %}
  </div>

  <div class="grid__item one-half medium-down--one-whole banner">
    {% if product.images.size > 1 %}
    <div class="grid__item two-twelfths thumbs medium-down--hide">
        <ul class="scroll-box">
          {% for image in product.images %}
            <li>
              <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail{% if featured_image == image %} aria-current="true"{% endif %}>
                <img class="product-single__thumbnail-image lazyload" data-src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}" data-sizes="auto">
              </a>
            </li>
          {% endfor %}
          {% if count > 0 %}
            <li>
              <a href="{{ 'PL.png' | asset_url }}" data-thumbnail-id="1" data-product-single-thumbnail aria-current="true">
                <img class="product-single__thumbnail-image lazyload moon_image" data-src="{{ 'PL.png' | asset_url }}" data-sizes="auto" alt="PL">
              </a>
            </li>
          {% endif %}
        </ul>
    </div>
    {% endif %}
    <div class="grid__item {% if product.images.size > 1 %} ten-twelfths {% endif %} main-image medium-down--one-whole">
      <div class="medium-down--hide {{ product.handle }}">

        {% for image in product.images %}
          {% capture wrapper_class %}
            {%- unless featured_image == image -%}
              hide
            {%- endunless -%}
          {% endcapture %}

          {% include 'responsive-image' with
            image: image,
            max_width: 700,
            max_height: 800,
            image_attributes: "data-product-featured-image",
            wrapper_class: wrapper_class,
            wrapper_attributes: "data-product-image-wrapper",
          %}
        {% endfor %}
        {% if count > 0 %}
          <div id="ImageWrapper-1-0" data-image-id="1" class="responsive-image__wrapper hide" data-product-image-wrapper="">
            <img id="Image-1-0" class="responsive-image__image lazyload moon_image" data-src="{{ 'PL.png' | asset_url }}" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" alt="" data-product-featured-image="" sizes="685px">
          </div>
        {% endif %}

      </div>
      <div id="thumbs-carousel" class="owl-carousel owl-theme">
        {% for image in  product.images %}
            <div class="item lazyload" data-merge="2.5" data-bgset="{% include 'responsive-bg-image', image: image %}"></div>
        {% endfor %}
      </div>
      <div class="icon-links">
        {% for block in section.blocks %}
          {% if block.type == 'icon' %}
            <a class="grid__item one-third">
              {% if block.settings.svg != blank %}
                {{ block.settings.svg }}
              {% else %}
                <img src="{{ block.settings.icon | img_url: 'original' }}" alt="{{ block.settings.title }}">
              {% endif %}

              <span>{{ block.settings.title }}</span>
            </a>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="grid__item one-half medium-down--one-whole product-info">
    <div class="title medium-down--hide">
      <h3>{{ product.title }}</h3>
      <div class="price-review-sec">
        {% unless product.tags contains 'hidden' %}
        <div class="prod-price">
          <h4 tabindex="0">
            {% assign geolizr_price =  product.price  %}
            {% include 'geolizr-currency' with geolizr_price %}
            {{ product.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
          </h4>
          {% if product.compare_at_price_max > product.price %}
          <h4><del tabindex="0">
            {% assign geolizr_price =  product.compare_at_price_max  %}
            {% include 'geolizr-currency' with geolizr_price %}
            {{ product.compare_at_price_max | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
          </del></h4>
          {% endif %}

        </div>
        {% endunless %}
        {% if product.tags contains 'get 1 free' %}
          <span class="tag">Buy one <strong>Get 1 FREE</strong></span>
        {% endif %}

        <div class="review-sec">
          <div class="yotpo bottomLine" data-product-id="{{ product.id }}">
          </div>
        </div>
      </div>
      {% include 'afterpay' %}
    </div>

    {% include 'product-extend' %}


    <div class="product-desc rte">
      {{ product.description }}
    </div>

    {% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}
  </div>
  {% if product.handle != 'gift-cards' %}
    {% for block in section.blocks %}
      {% if block.type == 'image-text' %}
        <div class="grid__item one-whole product-image-text template_{{ block.settings.template_num }} {% if block.settings.wide_display %} fluid-display {% endif %}">
          <div class="content">
            {% assign image_text_template = 'image-text_template_' | append: block.settings.template_num %}
            {% include  image_text_template %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% assign moon_phase_array = "Waning Gibbous,Waxing Crescent,New Moon,Full Moon,Waxing Gibbous,Lunar Eclipse,Solar Eclipse,Waning Crescent"| split: "," %}
  <div class="grid__item one-whole collection_products_main">
    <div class="container">
      <h3 class="text-center">What's trending for your moon phase.</h3>
      <div class="devider"></div>
      <div class="col_handle_name collection-product active grid collection-template">
        {% for product in product.collections[0].products limit: 4 %}
          <div class="grid__item two-eighths medium-down--one-half">
            <div class="content">
                {% if product.featured_image != blank %}
                <a href="{{ product.url | within: collection }}">
                  <div class="zoom">
                    {% include 'responsive-image' with
                      image: product.featured_image,
                      max_width: 300,
                      max_height: 800,
                      image_attributes: "data-product-featured-image",
                      wrapper_class: 'gflazyload',
                      wrapper_attributes: "data-product-image-wrapper",
                      alt: product.title
                    %}
                    </div>
                    <div class="banner_holder">
                      {% assign collection_handles = product.collections | map: 'handle' %}
                        {% if product.compare_at_price > product.price %}<div translatable class="sale_banner thumbnail_banner">{{ 'products.badge.sale' | t }}</div>{% endif %}
                        {% if collection_handles contains 'just-landed' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.new' | t }}</div>{% endif %}
                        {% if collection_handles contains 'coming-soon' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.soon' | t }}</div>{% endif %}
                        {% if collection_handles contains 'pre-order' %}<div translatable class="new_banner thumbnail_banner">{{ 'products.badge.pre_order' | t }}</div>{% endif %}
                        {% if product.tags contains 'deal' %}<div translatable class="deal_banner thumbnail_banner">{{ 'products.badge.deal' | t }}</div>{% endif %}
                        {% if product.tags contains 'Excluded' %}<div translatable class="not_promotion_banner thumbnail_banner">{{ 'products.badge.not_promo' | t }}</div>{% endif %}
                    </div>
                </a>
                {% endif %}

                <div class="title">
                <a href="{{ product.url | within: collection }}"><p class="text-center">{{ product.title | truncate: 50, '...' }}</p></a>
                </div>
                {% if product.available %}
                  <div class="review-sec">
                    <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
                  </div>
                  {% if product.price_min > 0 %}
                    <h4 class="text-center">
                      {{ product.price_min | money }}
                      {% if product.compare_at_price > product.price %}
                        <del class="was_price">{{ product.compare_at_price | money }}</del>
                        <span class="sale__off-percent">{{ product.compare_at_price_max | minus:product.price | times:100 | divided_by:product.compare_at_price_max | floor }}% OFF!</span>
                      {% endif %}
                    </h4>
                  {% else %}
                    {{ free_price_text }}
                  {% endif %}
                {% else %}
                  <h4 class="sold_out">{{ sold_out }}</h4>
                {% endif %}
                {% if product_compare_at_price > product_price %}
                  <del class="was_price">{{ product_compare_at_price | money }}</del>
                {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
  </div>
</section>

<div class="container product-review-section">
  <h3 class="text-center title">Product Reviews</h3>
  <center>
    <div class="yotpo yotpo-main-widget"
      data-header-customisation-enabled="1"
      data-product-id="{{ product.id }}"
      data-price="{{ variant.price | money_without_currency }}"
      data-currency="{{ shop.currency }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}"></div>
  </center>

</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icons",
        "settings": [
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon image"
          },
          {
            "type": "html",
            "id": "svg",
            "label": "svg icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      },
      {
        "type": "image-text",
        "name": "Image text",
        "settings": [
          {
            "type": "checkbox",
            "id": "wide_display",
            "label": "Wide display"
          },
          {
            "type": "select",
            "id": "template_num",
            "label": "Template",
            "options": [
              {
                "value": "1",
                "label": "Tempalte 1"
              },
              {
                "value": "2",
                "label": "Tempalte 2"
              },
              {
                "value": "3",
                "label": "Tempalte 3"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "divider_status",
            "label": "Enable divider"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon image"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "First image"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Last image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "You headline"
          },
          {
            "type": "richtext",
            "id": "desc",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}
