<section class="fluid-display register">
    <div class="grid">
        <div class="grid__item one-half banner medium-down--one-whole " style="background: url( {{ section.settings.banner | img_url : 'original' }} ) no-repeat 50% 50% / cover;">
        </div>
        <div class="grid__item one-half medium-down--one-whole pannel">
            <div class="content">
                <h3 class="medium-down--text-center">{{ 'customer.register.title' | t }}</h3>
                <div class="devider left"></div>
                {% form 'create_customer' %}
                {{ form.errors | default_errors }}

                <label for="FirstName" class="mark">
                    {{ 'customer.register.first_name' | t }}
                </label>
                <input type="text"
                    name="customer[first_name]"
                    id="FirstName"
                    autofocus
                    {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>

                <label for="LastName" class="mark">
                    {{ 'customer.register.last_name' | t }}
                </label>
                <input type="text"
                    name="customer[last_name]"
                    id="LastName"
                    {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>

                <label for="Email" class="mark">
                    {{ 'customer.register.email' | t }}
                </label>
                <input type="email"
                    name="customer[email]"
                    id="Email"
                    class="{% if form.errors contains 'email' %}input-error{% endif %}"
                    value="{% if form.email %}{{ form.email }}{% endif %}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off">

                <label for="CreatePassword" class="mark">
                    {{ 'customer.register.password' | t }}
                </label>
                <input type="password"
                    name="customer[password]"
                    id="CreatePassword"
                    class="{% if form.errors contains 'password' %}input-error{% endif %}">
                <input class="news-letter" type="checkbox" name="newsletter">
                <input type="hidden" name="return_to" value="/account" /> 
                <span>Subscribe to our newsletter?</span>
                <div>
                    <input type="submit" value="SIGN UP" class="button btn">
                </div>
                <a href="login" class="right">{{ 'customer.login.sign_in' | t }}</a>
                {% endform %}

            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Register",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner",
            "label": "Banner image"
        }
    ]
}
{% endschema %}
