<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
{% assign current_store = blank %}
{% include 'store-check' %}
<head rel="dns-prefetch" defer="defer">
  <link rel="preconnect" href="https://s3.amazonaws.com">
  <link rel="preconnect" href="https://p.yotpo.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://bundles.boldapps.net">
  <link rel="preconnect" href="https://foursixty.com">
  <link rel="preconnect" href="https://cdn.attn.tv">
  <link rel="preconnect" href="https://cdn-yotpo-images-production.yotpo.com">
  <link rel="preconnect" href="https://cdn.weglot.com">
  <link rel="preconnect" href="https://connect.facebook.net">
  <link rel="preconnect" href="https://static.hotjar.com">
  <link rel="preconnect" href="https://sc-static.net">
  <link rel="preconnect" href="https://staticw2.yotpo.com">
  <link rel="preconnect" href="https://cdn-swell-assets.yotpo.com">
  {% comment %}
  <script type="text/javascript" src="//cdn-3.convertexperiments.com/js/1003156-1003108.js"></script>
  {% endcomment %}
  <script> 
    window.simply = window.simply || {};
    window.cn = function(o){return"undefined"==typeof o||null==o||""==o.toString().trim()};
    window.cb = function(o){if(o == 'true'){return true}else{return false}};
    simply.FreeGiftAfterAdd = function(){};
    simply.money_format = "{{ shop.money_format }}";
    simply.translations = {
      addToCart : {{ 'products.product.add_to_cart' | t | json }},
      soldOut : {{ 'products.product.sold_out' | t | json }},
      unavailable : {{ 'products.product.unavailable' | t | json }}
    };
  </script>
  <script defer="defer">
    var moonglow_path = "{{ 'moonglow.json' | asset_url }}";
    var obj_moon_date = [];
    var product_date = '';
    var desc = '', range = -1, free_gift_variant_id = '', free_gift_type,  obj_index = undefined, free_gift_old, indecator, engrave_checked = false;
    var moon_eclipse_url = "{{ 'eclipse.json' | file_url }}";
    var moon_phase_data = [];
    var close_icon = "{{ 'close_ico.png' | asset_url }}";
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>

  <link rel="canonical" href="{{ canonical_url }}">
  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {% include 'social-meta-tags' %}
  {% include 'style-tags', layout: 'theme' %}
  {% include 'css-variables' %}

  {% if template contains 'product' %}
    {% capture cfh %}
    {{ content_for_header }}
    {% endcapture %}
    {{ cfh | replace:'<script','<script defer="defer" ' | replace : 'var urls', "var urls = [];simply.asyncurls"}}
  {% else %}
  	{{ content_for_header }}
  {% endif %}

  {%- comment -%}Installed by Yotpo Automatic Installation{%- endcomment -%}
  {% if settings.app_yotpo %}
    {% include 'yotpo-review', current_store: current_store %}
  {%- endif -%}
  {%- comment -%}End of Yotpo Automatic Installation{%- endcomment -%}

  {{ 'swell_rewards.scss.css' | asset_url | stylesheet_tag }}

  {% include 'scripts-header' %}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} stop-scroll">

  <div class="loader_wrapper">
    <div class="tmc_loader">
      {% include 'page_loader' %}
    </div>
  </div>
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% if page.handle != 'find-your-moon' %}
    {% section 'header' %}
  {% else %}
    {% section 'header-simple' %}
  {% endif %}
  {% section 'moon_phase' %}
  <main role="main" id="MainContent">
    {% if request.path == '/apps/help-center' %}
      {% section 'faq-template' %}
    {% endif %}
    {{ content_for_layout }}
  </main>

  {% if page.handle != 'find-your-moon' %}

    {% if page.handle != 'wholesale' %}
      {% section 'icons' %}
      {% section 'sign-up' %}
    {% endif %}
    {% section 'footer' %}
    {% include 'permission-bar' %}
  {% else %}
    {% section 'footer-simple' %}
  {% endif %}
  {%- if settings.side_giftcard -%}
    <div class="product_block fancybox hide">
      <div class="product_img block">
        <a class="fancybox blur_img" rel="gallery" href="{{settings.side_img_1 | img_url: '1000x' }}">
          <span class="visuallyhiddentext"> view large image</label>
        </a>
      </div>
    </div>
  {%-endif -%}
  <div class="dark-bg"></div>
  {% include 'occasion_popup' %}
  <script rel="dns-prefetch" src="https://cdn.attn.tv/moonglow/dtag.js" async></script>
  <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>

  {% if page.handle != 'find-your-moon' %}
  {% include 'weglot_hreftags' %}
  {% include 'weglot_switcher' %}
  {% endif %}

  {% include 'scripts-footer' %}
  {% include 'script-tags', layout: 'theme' %}
  {% include 'globo.filter.script' %}

  <script rel="dns-prefetch" src="{{ 'vendor.js' | asset_url}}"></script>
  {{ 'swell_rewards.js' | asset_url | script_tag }}



  {% if page.handle != 'find-your-moon' %}
      {% include 'globo.filter.action' %}
      {% include 'criteo-tracking' %}


      <noscript>
        <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/996068966/?guid=ON&amp;script=0"/>
        </div>
      </noscript>

       <!--Gorgias Chat Widget Start-->
        <div id="gorgias-chat">
          {% if customer %}
          <script defer="defer">
            window.gorgiasChatParameters = { "smooch": { "givenName": "{{ customer.name }}", "email": "{{ customer.email }}", "properties": { "shopify__cart__total_price": "{% assign geolizr_price =  cart.total_price  %}{% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}{% assign geolizr_prepend_code = '<span class="geolizr- currency" data-geolizr-price="' | append: geolizr-currency | append: '">' %}{% assign geolizr_append_code = '</span>' %}{%  else %}{% assign geolizr_prepend_code = '' %}{% assign geolizr_append_code = '' %}{% endif %}{{ cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code | strip_html | default: null }}", "shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }}, {% for item in cart.items %} "shopify__cart__items-{{ forloop.index }}-[]": "{\"line_price\":\"{% assign geolizr_price = item.line_price %}{% include 'geolizr-currency' with geolizr_price %}{{item.line_price|money | prepend: geolizr_prepend_code | append: geolizr_append_code |strip_html|default:null}}\",\"price\":\"{% assign geolizr_price = item.price %}{% include 'geolizr-currency' with geolizr_price %}{{item.price|money | prepend: geolizr_prepend_code | append: geolizr_append_code |strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %}, {% endif %} {% endfor %}}}}</script>
          {% else %}
          <script
            defer="defer">window.gorgiasChatParameters = { "smooch": { "properties": { "shopify__cart__total_price": "{% assign geolizr_price =  cart.total_price  %}{% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}{% assign geolizr_prepend_code = '<span class="geolizr- currency" data-geolizr-price="' | append: geolizr-currency | append: '">' %}{% assign geolizr_append_code = '</span>' %}{%  else %}{% assign geolizr_prepend_code = '' %}{% assign geolizr_append_code = '' %}{% endif %}{{ geolizr_price | money | strip_newlines | strip  | prepend: geolizr_prepend_code | append: geolizr_append_code | strip_html | default: null }}", "shopify__cart__nb_of_items": {{ cart.items | size | default: 0 }}, {% for item in cart.items %} "shopify__cart__items-{{ forloop.index }}-[]": "{\"line_price\":\"{% assign geolizr_price = item.line_price %}{% include 'geolizr-currency' with geolizr_price %}{{item.line_price|money | prepend: geolizr_prepend_code | append: geolizr_append_code |strip_html|default:null}}\",\"price\":\"{% assign geolizr_price = item.price %}{% include 'geolizr-currency' with geolizr_price %}{{item.price|money | prepend: geolizr_prepend_code | append: geolizr_append_code |strip_html|default:null}}\",\"product_id\":\"{{item.product_id|default:null}}\",\"quantity\":{{item.quantity|default:null}},\"sku\":\"{{item.sku|default:null}}\",\"title\":\"{{item.title}}\",\"variant_id\":{{item.variant_id|default:null}},\"vendor\":\"{{item.vendor|default:null}}\",\"id\":{{item.id|default:null}}}"{% if forloop.last != true %}, {% endif %} {% endfor %}}}}</script>
          {% endif %}
          <script src="https://config.gorgias.io/production/Q9r0k7BMPd2vg13y/chat/Oro0V7LJa469d83N.js" defer="defer"></script>
        </div>
        <!--Gorgias Chat Widget End-->
  {% endif %}

    {% if page.handle == 'find-your-moon' %}
      <style>
        .snize-sticky-searchbox{
          display: none!important;
        }
      </style>
    {% endif %}
  </body>
</html>
